[2017-02-16 17:35] r12a opened #254 "Default ruby position may be on the wrong side for tblr (eg. mongolian)"
10.2.39 tts:rubyPosition
https://www.w3.org/TR/2016/WD-ttml2-20161117/#style-attribute-rubyPosition

`before` is mapped in the table to 'left' for 'tblr' writing mode (ie. Mongolian).  `before` is also the default value.  I think this is probably incorrect for tblr writing systems like Mongolian.

See an example of Mongolian ruby at https://github.com/w3c/mlreq/issues/4

[2017-02-16 17:36] r12a opened #255 "How would someone display ruby inline?"
10.2.39 tts:rubyPosition
https://www.w3.org/TR/2016/WD-ttml2-20161117/#style-attribute-rubyPosition

Is there a way to make the ruby display inline when desired?

Note that there are two possibilities here. Given a word such as 東京, the user may want to produce

a. 東(とう)京(きよ), or
b. 東京(とうきよ)

from the same markup. The second approach tends to be used for compoun nouns in Japanese.

[2017-02-16 17:38] r12a opened #256 "Please provide more illustrations and examples for the ruby sections"
This will make it much easier to understand, and improve the quality of the review.

(Actually this is true for other sections, too.)

[2017-02-16 17:39] r12a opened #257 "Make it clearer that tts:rubyOverflow only applies to text that is at the end of a line"
10.2.36 tts:rubyOverflow
https://www.w3.org/TR/2016/WD-ttml2-20161117/#style-attribute-rubyOverflow

That sentence clarifies the intended application of this property iiuc: ie. to do with line start/end situations and _not_ about overhanging adjacent text (which is dealt with by rubyOverhang). Such scenarios are mentioned as 'an' example of use in the first para in the section, leading to ambiguit

[2017-02-16 17:40] r12a opened #258 "How to space base characters where shiftRuby kicks in for group ruby?"
10.2.36 tts:rubyOverflow
https://www.w3.org/TR/2016/WD-ttml2-20161117/#style-attribute-rubyOverflow

jLReq makes a distinction between (a) handling of annotation alongside a single base character, and (b) annotation alongside multiple base characters in the `shiftRuby` case. For (b), the base characters are spread evenly as in this diagram.

![img2_3_36](https://cloud.githubusercontent.com/assets/

[2017-02-16 17:41] r12a opened #259 "Simplify description of shiftRuby (editorial)"
10.2.36 tts:rubyOverflow
https://www.w3.org/TR/2016/WD-ttml2-20161117/#style-attribute-rubyOverflow

Editorial (i think, unless i'm missing something – which is certainly possible).

Isn't this rather long description about insetting the ruby text just a question of saying align both ruby text and base text with the line edge?

[2017-02-16 17:42] r12a opened #260 "Should rubyOverhang:allow overlap ideographs in Japanese?"
10.2.38 tts:rubyOverhangClass
https://www.w3.org/TR/2016/WD-ttml2-20161117/#style-attribute-rubyOverhangClass

My reading of jLReq is that by default it does not allow overlap of kanji characters. See the [bullet points just below Fig 136](https://w3c.github.io/jlreq/#adjustments_of_ruby_with_length_longer_than_that_of_the_base_characters).

Notes further down admit alternative styles, one of whic

[2017-02-16 17:43] r12a opened #261 "Should we allow more overhang for Chinese?"
10.2.38 tts:rubyOverhangClass
https://www.w3.org/TR/2016/WD-ttml2-20161117/#style-attribute-rubyOverhangClass

I've [raised the question](https://github.com/w3c/clreq/issues/129) for Chinese with the cLReq folks, but from looking at the document, the rules seem less restrictive than Japanese.  TTML2 currently only allows overlap of `ideographic` and not of punctuation.

[2017-02-16 17:45] r12a opened #262 "Use a more typical example for tts:direction"
10.2.12 tts:direction
https://w3c.github.io/ttml2/spec/ttml2.html#style-attribute-direction

Bidi overrides are very rarely used. I think it would be better to show how this can help everyday situations for people using bidi scripts, which they will absolutely need to deal with, such as getting the W3C to appear on the correct (left) side of

[code]

[2017-02-16 17:47] r12a opened #263 "It should be easier to specify direction for RTL script users"
10.2.12 tts:direction
https://w3c.github.io/ttml2/spec/ttml2.html#style-attribute-direction

I may be missing something, but is it correct to assume that a person trying to use TTML for Arabic or Hebrew or any of the many other languages using so-called RTL scripts will need to explicitly add the `tts:writing-mode` or `tts:direction` attribute to every `p` or `div`?  If so, that's a significant di

[2017-02-16 17:51] r12a opened #264 "Link from tts:direction to tts:writing-mode"
10.2.12 tts:direction
https://w3c.github.io/ttml2/spec/ttml2.html#style-attribute-direction

When i first read this, i thought that `tts:direction` was behaving like `dir` in HTML, or like (i think) `tts:writing-mode=tbrl`, and setting an embedding or override at the same time as signalling the base direction (although i couldn't see how it could do both).

Perhaps it would help to have a note tha

[2017-02-16 17:53] r12a opened #265 "No mention of isolation for directional controls"
The Unicode Consortium recommends that embeddings should always isolate the contained text from that surrounding it, to avoid the many possible spillover issues that arise otherwise.  HTML also applies isolation by default.

Isolation is not mentioned in the sections that provide bidi control.  It should be the default.

[2017-02-16 18:14] nigelmegitt commented on #263
Hi @r12a I can't answer many of your recent issue questions but this one I think I can:

`tts:writing-mode` applies to regions, so it is effective on all the content flowed into each region.

`tts:direction` is inherited (see the table row heading "Inherited", value "Yes") so it can be set on a `region` or ` body` for example and will apply to all the descendants (unless overridden by being specif

[2017-02-16 18:24] r12a commented on #263
That's good to know. Thanks.

[2017-02-16 22:06] palemieux opened #266 "writingMode example + upright characters"
The example for `tts:writingMode` shows upright latin characters, but the default value of `tts:textOrientation` means that _in vertical writing modes, glyphs from horizontal scripts are set sideways, i.e., 90° clockwise from their nominal orientation in horizontal text, while glyphs from vertical scripts are not affected._

[2017-02-22 04:42] skynavga commented on #216
Resolved in 8abbce40aff32c96eef8bde16815991a2b36ec07.

[2017-02-22 05:21] skynavga commented on #165
Resolved follow-on PR to add note in 38edb87683dc2bdff4e05cd913ed261c320dc33a.

[2017-02-22 05:21] #165 closed

[2017-02-22 07:48] skynavga commented on #127
Label for ttml.next and closing for TTML2.

[2017-02-22 12:15] nigelmegitt commented on #127
If we are keeping this to deal with it later then it must stay open. We should use milestones to filter issues for specific deliverables rather than labels.

[2017-02-22 14:50] skynavga commented on #127
This will not be accomplished in TTML2, so it is not a TTML2 milestone. I have been marking as ttml.next issues that are closed that won't be done in TTML2. They can be harvested when a new TTML.next repo is created. In the mean time, I am closing this again since it won't be addressed in TTML2.

[2017-02-22 14:56] nigelmegitt commented on #127
We have not yet made a strategic decision about future spec versions of TTML and the repositories for them. In the meantime I do not consider this repo to be constrained to TTML2 only. Milestones are available for filtering out based on planned release versions, and we should use them. Let's discuss on the call tomorrow, but I am not at all happy for issues we want to come back to at some point to

[2017-02-22 15:11] skynavga commented on #127
Feel free to create a new repository then and we can move the issues there.
Unlike the imsc repository, we agreed to have separate repositories for
ttml1, ttml2, etc.

On Wed, Feb 22, 2017 at 7:56 AM, Nigel Megitt <notifications@github.com>
wrote:

[2017-02-22 15:18] nigelmegitt commented on #127
It's the "etc" I don't recall agreeing to here.

[2017-02-22 21:12] skynavga commented on #127
I'm not sure we discussed the etc either way, but since we have done
separate repos for ttml1 and ttml2, it is a logical conclusion (IMO) that
we are doing a different repo for each REC track document at least as far
as TTML itself is concerned, and, consequently, whatever we call ttml.next
will be in a new repo as well.

As far as issue management is concerned, I definitely do not want to have
tt

[2017-02-23 05:11] skynavga commented on #122
Assigning to ttml.next and closing. This issue can be recreated in a new ttml.next repo.

[2017-02-23 05:15] skynavga commented on #119
Marking for ttml.next and closing.

[2017-02-23 05:15] skynavga commented on #149
Marking for ttml.next and closing.

[2017-02-23 20:05] dae-kim commented on #253
Suggest we move this to a new feature request in ttml.next

I believe we discussed this in prior meetings and agreed bopomofo is more a printed book feature, not so much a subtitle feature. The Chinese subtitle vendors we spoke with do not use bopomofo in their subtitles.

[2017-02-23 20:11] dae-kim commented on #255
If by "the user" we mean the subtitle author, they should type the parenthesis and inline ruby as a normal sequence of text.

If we're talking about a processor's lack of ruby support, I'm open to defining some fallback mechanism in place of "ignore and move on".

[2017-02-23 20:15] dae-kim commented on #254
Personally consider this to be a minor issue.

It's up to the author to determine that default values of any attribute do not align with their specific writing system/mode.

For example, the default value of displayAlign is "before". Given a large region, text would display towards top of screen. If authors want their text to display at bottom of any given region, they must explicitly set displayA

[2017-02-27 13:40] aphillips opened #268 "Styling using tts:direction: there should be an `auto` value"
https://w3c.github.io/ttml2/spec/ttml2.html#style-attribute-direction

TTML does define a direction attribute for p and span elements for use in controlling text direction (bidi). The values provided are ltr and rtl. There is not auto. Should there be?

sourced from (w3c/i18n-activity/issues/328)

[2017-02-27 14:27] aphillips opened #269 "tts:writingMode example is not helpful"
https://w3c.github.io/ttml2/spec/ttml2.html#style-attribute-writingMode

The illustration of the `rltb` writing mode uses `unicodeBidi` override and `direction=rtl` to show some English text backwards. This isn't particularly helpful, since it isn't really an effect of writing mode and non-observant readers may not realize that the example has these features turned on in the example. They might th

[2017-02-27 14:28] aphillips opened #270 "Can <named-item> altText have xml:lang?"
https://w3c.github.io/ttml2/spec/ttml2.html#metadata-value-named-item

The `<named-item>` construct has an attribute `altText` intended to provide descriptive text primarily for images (similar to `alt` in HTML). There is no associated language metadata. Should there be?

[2017-02-27 14:31] aphillips opened #271 "Metadata examples do not include xml:lang (editorial)"
https://w3c.github.io/ttml2/spec/ttml2.html#metadata-vocabulary-metadata

There are several examples of `ttm:title` or `ttm:desc` containing natural language text, but no `lang` attributes are supplied.

[2017-02-27 14:41] nigelmegitt commented on #270
I don't think I understand the issue here - the `ttm:item` element permits `xml:lang` to be specified, so an example like:

[code]

is specified and possible.  Is something extra needed?

[2017-02-27 14:47] aphillips commented on #270
This may be a bit too much shorthand on our part. A common problem in markup languages is when an attribute can contain natural language text... for cases where the attribute and element contain different languages.

[code]

[2017-02-27 15:03] nigelmegitt commented on #270
Is that a usage problem or a specification problem? I'm still unclear exactly what the issue is here: what kind of resolution are you looking for?

[2017-02-27 23:13] skynavga commented on #210
Resolved in 32fea6031fc30824ce15de0dd5022c097fbbb630.

[2017-02-27 23:13] #210 closed

[2017-02-27 23:14] skynavga commented on #212
Resolved in 32fea6031fc30824ce15de0dd5022c097fbbb630.

[2017-03-01 09:37] skynavga commented on #195
As a preview, here's what I am currently doing:

* add audio style namespace, with prefix ``tta``
* add following attributes in ``tta`` namespace primarily applied to ``tt:span``, but a couple to ``tt:audio`` as well (some of these are based on SSML, some on WebAudio API):
  * ``tta:contour``
  * ``tta:duration``
  * ``tta:emphasis``
  * ``tta:gain``
  * ``tta:pan``
  * ``tta:pitch``
  * ``tta:ran

[2017-03-01 17:54] palemieux commented on #212
* Note re: issue-197 remains
* Why does _presentation related element_ include _contains or expresses presentable content_ in addition to _affects the presentation of content_?
* I think _affects the presentation of content_ should be more specific. This is important for interoperability since `whenActive` is triggered when `when some content is flowed into the region.`

[2017-03-01 20:00] nigelmegitt commented on #195
Thanks for the update @skynavga much appreciated. I had wondered about integrating SSML but thought the easier thing might just be to be open about mixing in other XML vocabularies. I'm not familiar enough with SSML specifically to know if it needs both elements and attributes, but this could be related to the recent conversation we have been having about foreign namespace element inclusion in ele

[2017-03-01 20:02] nigelmegitt commented on #195
To be precise, they didn't just mention it to me but as part of a session. Audio Description is a big theme this year...

[2017-03-01 20:25] palemieux commented on #216
The definition _styled element_ is not necessary (and confusing) since _Style Resolution Process_ occurs in _Synchronic Flow Processing_, after _Intermediate Synchronic Document Construction_. Just as body elements are reparented to region elements, region elements can be reparented to tt, eleminating the need for _styled element_ .

[2017-03-01 20:28] palemieux commented on #195
@nigelmegitt Is this Audio Description feature intended for authoring and/or distribution?

[2017-03-01 20:47] palemieux commented on #127
Mapping to HTML5 is a requirement for TTML2 features intended for use in IMSC2. I have started a [wiki](https://github.com/w3c/imsc/wiki/TTML2-features-for-inclusion-in-IMSC2) based on the input I have received so far.

This issue can either remain open, or closed with individual issues opened for each feature listed in the wiki.

[2017-03-01 20:54] palemieux commented on #238
I wish it were only me (if it is the case), but all UAs do as well as illustrated in the codepen above.

[2017-03-01 21:55] skynavga commented on #216
I'm re-closing this issue. Please open a new issue if you wish.

[2017-03-01 21:58] palemieux commented on #216
For discussion at the next TTWG call.

[2017-03-01 22:02] skynavga commented on #127
Please do not re-open or add new issues on this topic until the group
discusses it. It is my present position that this requirement will not be
fulfilled, at least in detail, in the text of TTML2. However, that doesn't
mean it can't be specified elsewhere.

On Wed, Mar 1, 2017 at 1:47 PM, Pierre-Anthony Lemieux <
notifications@github.com> wrote:

[2017-03-01 22:02] skynavga commented on #195
Both or either.

On Wed, Mar 1, 2017 at 1:28 PM, Pierre-Anthony Lemieux <
notifications@github.com> wrote:

[2017-03-01 22:02] skynavga commented on #216
Closing again. If you want to open a new issue, please do so.

[2017-03-02 02:17] nigelmegitt commented on #253
I consider the general feature target in TTML2 to be the ability to present text in every script, and this is something that @skynavga has confirmed is the intention previously, so if bopomofo is a presentation requirement for a script, I think it is in scope of TTML2.

[2017-03-02 02:22] nigelmegitt commented on #216
[as Chair] @skynavga please remember that we have a 10 day review period - since @palemieux is requesting a change to the pull request that was merged early, and marked as such, it is reasonable to allow the issue to remain open until there is consensus on the edits. I am reopening this.

[2017-03-02 07:18] palemieux commented on #240
@skynavga I had the opportunity to dig some more into the differences between over/under and before/after.

Per [CSS Writing Modes 3](https://www.w3.org/TR/css-writing-modes-3/#line-orientation), over/under are defined based on the ascender/descender of the line (instead of the block progression direction):

* under: nominally the side that corresponds to the ascender side or “top” side of a line

[2017-03-02 08:19] skynavga commented on #240
On Thu, Mar 2, 2017 at 12:18 AM, Pierre-Anthony Lemieux <
notifications@github.com> wrote:

Firstly, in vertical writing with upright orientation, i.e., the typical
case for CJK, then the ascender of the upright glyphs is towards the top of
the screen, and not right or left. While the descender of upright glyphs is
towards the bottom of the screen. Actually, the notion of
ascender/descender doesn'

[2017-03-02 09:14] skynavga commented on #195
A preliminary draft for AD additions can be found at [1]. There is still work to do, but there is a draft here for @clip{Begin,End} and tta:{gain,pan,speak}. I need to confer with @nigelmegitt about a number of details.

[1] https://rawgit.com/w3c/ttml2/3811a7e840299a314b81485ddb7e66f4025b108c/spec/ttml2.html#embedded-content-vocabulary-audio

[2017-03-02 21:16] palemieux commented on #233
@simontWork Any update on a proposal?

[2017-03-02 22:38] dae-kim commented on #253
To reiterate my stance on my previous comment, bopomofo is more a printed book feature than a subtitle feature.

If Chinese subtitlers do not use bopomofo currently, are not asking for bopomofo support in the near future, and no one will be able to prove implementation support of bopomofo, is this really something that needs to be solved in TTML2?

As I recall during TPAC Sapporo, the i18n group i

[2017-03-03 01:53] nigelmegitt commented on #195
Thanks @skynavga, I'll contact you offline about this.

[2017-03-03 18:18] dae-kim commented on #269
I'm not opposed to this suggestion but would like to point out the Note below the illustration:

"In the second paragraph in the above example that targets region r2, the tts:unicodeBidi and tts:direction properties are set to bidiOverride and rtl, respectively, in order to override the normally left-to-right directionality of characters in the Latin script."

[2017-03-03 21:30] dae-kim commented on #248
It might be helpful to add a note discouraging 亜麻仁(あまに) ... but this is necessary IMO for interop with older Japanese formats like Lambda CAP.

The vast majority of Lambda CAP files employ the "withBase" method to markup ruby 亜麻仁(あまに).
Whether this is ideal or not -- we should attempt to preserve the authored data best we can.

And I can see a situation where an author/implementer wants to use thi

[2017-03-03 23:48] dae-kim commented on #203
See: https://github.com/w3c/ttml2/pull/273

[2017-03-03 23:51] dae-kim commented on #256
See: https://github.com/w3c/ttml2/pull/273

[2017-03-04 09:20] r12a commented on #248
What puzzles me though is that it seems to me that the likelihood that this will be useful is extremely rare.  If i understand correctly, the way it is specced in TTML2 is that you'd need a sequence of base characters with a single character annotation each for this to be applied.  Even to find one base character annotated with a single annotation character is  rather rare for pinyin associated wi

[2017-03-06 11:07] nigelmegitt commented on #233
@palemieux BBC is working on a simplified proposal.

[2017-03-06 18:13] r12a commented on #253
@bobbytung any input on this?

[2017-03-06 18:34] r12a commented on #256
Thank you for the new examples and images. Very helpful.  There are one or two specific comments i have on the new material, which i'll raise as separate issues.

[2017-03-06 18:56] r12a opened #274 "Add an illustration of pinyin for ruby align"
10.2.34 tts:rubyAlign
http://w3c.github.io/ttml2/spec/ttml2.html#style-attribute-rubyAlign

Given the text about glyph area descendants it would be particularly useful to have an illustration of what would be expected in the case of Latin annotations of base text.

For example:
周杰伦(Jay Chou)

[2017-03-06 19:04] r12a opened #275 "Show better mappings between base and annotation in figures"
10.2.39 tts:rubyPosition
http://w3c.github.io/ttml2/spec/ttml2.html#style-attribute-rubyPosition
Example Fragment – Ruby Position

The example sets a bad example imho by combining two base characters with two annotations. Content authors ought to properly associate base characters with the annotations that are specific to them, and i think the example should do the same.

[2017-03-06 19:35] dae-kim commented on #256
Closed. See https://github.com/w3c/ttml2/issues/274 and https://github.com/w3c/ttml2/issues/275

[2017-03-06 19:36] #256 closed

[2017-03-06 19:43] dae-kim commented on #248
I'm not sure what the recommendation is here. Are you asking we remove withBase altogether? I'd rather not sift through a number of Lambda CAP files to find examples of this ... but since withBase only applies when this extremely rare situation occurs, what is the harm in wording it the way it is now?

Re: "And if NR and NB are equal in some text, given that this is the default for auto, i think i

[2017-03-06 19:44] r12a commented on #275
A particularly problematic instance of this, for me, is the example of complex ruby at http://w3c.github.io/ttml2/spec/ttml2.html#style-attribute-ruby-example-2

What makes complex ruby complex is not just that ruby text appears on both sides, but that there are multiple mappings between base an annotation.  I believe that the example should show that とう maps to 東 and なん maps to 南, while たつみ maps

[2017-03-06 20:11] r12a commented on #248
A key recommendation would be to remove it from the expectation of what happens when you specify the `auto` value.

No, not that. I was saying that the vast majority of ruby will not have an identical number of base and annotation characters, and will be rendered as spaceAround or spaceBetween, but on the odd occasion that the number of character is the same, or actually sometimes just by coincide

[2017-03-06 21:37] skynavga commented on #274
I agree that the current text does not correctly deal with this case, and needs to be recast in terms of a somewhat different criteria that would treat this case as having 2 (not 7) ruby text boxes to be aligned with 3 base text boxes.

[2017-03-07 12:08] r12a commented on #240
Not so fast.  I agree with the original problem statement.

[CSS writing modes 4](https://drafts.csswg.org/css-writing-modes-4/#line-over) makes a distinction between `before` and `over`/`line-over` in the case of `vertical-lr`, such that the `over` means on the right of a vertical line (which happens to be where the ascenders for **Latin** text usually appear in vertical Mongolian writing), (and

[2017-03-07 12:25] r12a commented on #254
I can't see why this would be a minor issue. The spec is setting a default value for people using vertical writing-mode with lines progressing from left to right that is incorrect for probably everyone who will use that. It means that people whose writing system uses that orientation, ie. users of Traditional Mongolian, Manchu, Sibe, Todo, etc., have to always override the default for any text the

[2017-03-07 14:24] kojiishi commented on #240
I agree with @r12a.

The ascender of the upright glyphs being the top is true when the font does not have proper vertical metrics and thus the rendering engine synthesizes upright glyphs by rotating them, but not the case for the real vertical metrics. OpenType for instance defines the ascender on right and the descender on left in their vertical metrics for upright glyphs. I know this looks stran

[2017-03-07 18:50] dae-kim commented on #254
As mentioned with my example on displayAlign and the default "before" ... most implementers explicitly set displayAlign to "after". So in terms of displayAlign's default value, most authors and consumers of TTML1 (and 2) probably consider "before" to be incorrect.

This does not stop authors from explicitly setting the displayAlign value to "after" by default.

I understand the default value is no

[2017-03-07 19:42] dae-kim commented on #248
Actually, I just realized Lambda CAP expects withBase if number of base = number of ruby.
But in terms of Lambda CAP files, it is more common to see this:

＠ルビ上［BASE｜RUBY］＠

Than this:

＠ルビ上［B｜R］＠＠ルビ上［A｜U］＠＠ルビ上［S｜B］＠＠ルビ上［E｜Y］＠

[2017-03-08 19:58] skynavga commented on #212
The issue you refer to (197) is a TTML1 issue. Please file a new issue on "presentation related element" if you wish  to see a change in the definition. It is impractical to be as specific as you want to be without writing an extremely complex, brittle piece of specification text. The basic definition of presentable content is that it is presentation related unless you can prove it isn't.

Re-clos

[2017-03-08 19:58] #212 closed

[2017-03-08 20:03] skynavga commented on #216
Closing again. The original resolution was not an early merge. Please file a new issue regarding use of "styled element".

[2017-03-08 20:03] #216 closed

[2017-03-08 21:12] skynavga commented on #53
No clear requirement for negative space. If desired, this can be resurrect in ttml.next. I am marking for ttml.next and closing for ttml2.

[2017-03-08 21:17] skynavga commented on #160
Works for me. Closing as I am not aware of any specific semantic issue here. If so desired, you may specify draft text to be added and re-open this issue.

[2017-03-08 21:19] skynavga commented on #96
Lacking a hard requirement and draft specification text, I am marking this for ttml.next and closing. If there is a hard requirement here, please draft specification text and reopen.

[2017-03-08 22:28] palemieux commented on #53
There is in fact a clear requirement communicated from SMPTE.

As stated in https://github.com/w3c/ttml2/issues/53#issuecomment-268829319, can we explain why it is not possible/useful.

[2017-03-08 22:32] skynavga commented on #53
The referenced "requirement" is not sufficiently specified or motivated to take it seriously.

[2017-03-08 22:38] palemieux commented on #239
+1 in the context of TTML2.

[2017-03-08 22:58] palemieux opened #276 "Definition of "[content element]" does not match Section 8.1."
"[content element]" is defined as one of the elements of the content module, which does not match the elements listed in Section 8.1 ("Content Element Vocabulary").

[2017-03-09 11:13] nigelmegitt commented on #239
This is not a big thing for the BBC right now, but I think it is worth noting that there is not general consensus on this point: it is the opposite of the research I reviewed which found that in 3D presentations static depth text is offputting and causes focus difficulties - the solution preferred is to animate the depth and position of text so that it moves with the speaker, if you imagine a scen

[2017-03-09 11:16] nigelmegitt commented on #239
Just to clarify:

I also am happy with this - as @skynavga has pointed out the same effect can in principle be generated using `condition`; I believe we do not have to specify any particular parameters in TTML2 to allow this to happen. So "less is more" probably applies here.

[2017-03-09 11:53] nigelmegitt commented on #160
I believe the problem here, in advance of drafting a solution, is that it is possible to specify offset times that do not evaluate to integer frame values, and there is no guidance on what this means and what should be done. Specifically,

does not specify a quantisation to the nearest frame rule, but surely one would be expected?

[2017-03-09 12:01] nigelmegitt commented on #96
There is a clear and hard requirement here. Consider a midnight crossing example (or is it?):

[code]

Comparison of the two time expressions reveals that the end of the `p` is earlier than its begin, therefore it never becomes active. There is no conformant way to discern this is happening using clock-time expressions - only offset-time expressions have some hope of doing so, and even then the ep

[2017-03-09 13:36] nigelmegitt commented on #53
That needs to be a group decision not an Editor decision alone.

[2017-03-09 16:44] skynavga commented on #239
From [2017-03-09 Meeting], GA to add named condition parameters to permit doing this in a standard way with @condition.

[2017-03-09 16:52] palemieux commented on #239
How did the group go from `tts:disparity` to `@condition`

[2017-03-09 17:23] nigelmegitt commented on #253
[TTWG Meeting 2017-03-09] We will await the response to @r12a 's question before taking further action on this.

[2017-03-09 17:41] nigelmegitt commented on #239
@palemieux Early on there was a proposal from @skynavga that stereoscopic selection of images in TTML2 could be achieved by conditionally sending "left" images to the left display and "right" images to the right display, using `@condition`. Even if we take out `tts:disparity` on images this option remains. Then the question was, do we need named parameters in the standard or can we defer to specif

[2017-03-09 23:10] palemieux commented on #240
@r12a Do you mean the table at Section 6.4? If so, I think there are inconsistencies between:
- definition of "over", which allows either the ascender side _or_ the “top” side of a line box to be used
- the illustration below the definition of "over", which shows "top" as the physical top
- the table at Section 6.4, which states over === right in the case of vertical-lr

Assuming the table at Sect

[2017-03-13 12:46] r12a commented on #240
@palemieux I don't really understand why you think there's an inconsistency. Over is the same as top for horizontally set text. It is the 'ascender' side, ie. the right, for normal vertically set text in Mongolian as well as CJK.

I don't understand your point about one-to-one mapping either, especially since your table doesn't show a 1-1 mapping.

The problem is that http://w3c.github.io/ttml2/sp

[2017-03-13 19:58] r12a opened #277 "Incorporate CSS advances into TTML vertical text handling"
10.2.52 tts:writingMode
http://w3c.github.io/ttml2/spec/ttml2.html#style-attribute-writingMode

10.2.46 tts:textOrientation
http://w3c.github.io/ttml2/spec/ttml2.html#style-attribute-textOrientation

I think it would be useful to make the text in this section more closely resemble the approach in CSS, recent developments for which, i believe, have fixed some issues related to vertical text handlin

[2017-03-13 20:00] r12a opened #278 "tts:textCombine and combining characters"
10.2.43 tts:textCombine
http://w3c.github.io/ttml2/spec/ttml2.html#style-attribute-textCombine

I and other members of the i18n WG found it hard to tell that this is about tate chu yoko, rather than kumimoji, until we get to the information near the bottom about the digits and all values.  It would be good to make that clearer near the top.

I'm not sure what this means. Does it mean that in verti

[2017-03-13 20:02] r12a opened #279 "Default directions in mixed textOrientation should use TR50"
10.2.46 tts:textOrientation
http://w3c.github.io/ttml2/spec/ttml2.html#style-attribute-textOrientation

The terms 'vertical scripts' and 'horizontal scripts' don't appear to have any definition.

I think this paragraph should actually say that the defaults specified in http://www.unicode.org/reports/tr50/ should be applied for mixed text.

Note that there are also implications for fullwidth Latin

[2017-03-13 20:04] r12a opened #280 "Sideways shouldn't be tied to tblr vs tbrl"
10.2.46 tts:textOrientation
http://w3c.github.io/ttml2/spec/ttml2.html#style-attribute-textOrientation

At the bottom of the section about textOrientation it says that

but i think the CSS Writing Modes spec is now significantly different in approach, so TTML needs to be brought up to date with those changes.

Note also that in CSS sideways applies to the 'vertical script' characters as well as th

[2017-03-13 20:05] r12a opened #281 "Upright orientation involves more than just glyph orientation"
10.2.46 tts:textOrientation
http://w3c.github.io/ttml2/spec/ttml2.html#style-attribute-textOrientation

There are additional things to bear in mind here. The treatment as strong left-to-right will put arabic script characters in the correct visual order down the vertical line, but it should also be said that the characters should use the isolated form.  Furthermore, the rotations should be applied

[2017-03-13 20:24] dae-kim commented on #279
Duplicate of https://github.com/w3c/ttml2/issues/230

[2017-03-13 20:24] #279 closed

[2017-03-14 17:03] dae-kim commented on #254
To follow guidance on resolution to https://github.com/w3c/ttml2/issues/240

[2017-03-15 02:54] palemieux commented on #53
I asked D-Cinema experts whether negative values of inline spacing are found in practice in D-Cinema. Below is a typical response:

[2017-03-15 03:14] skynavga commented on #53
This response is effectively arguing that "micro-positioning" of glyph
areas is a requirement we should satisfy, and, effectively proposes a
potential solution for doing so, i.e., arbitrarily insert positive or
negative space to indirectly affect positioning. I assert that (1) this
solution doesn't work, and (2) that this is the function of tools already
available in font technology we support, na

[2017-03-15 03:27] palemieux commented on #53
areas is a requirement we should satisfy, and, effectively proposes a
potential solution for doing so, i.e., arbitrarily insert positive or
negative space to indirectly affect positioning.

The response argues that micro-positioning is in use in D-Cinema, which has years of experience working on text-based Japanese subtitles.

[2017-03-15 03:39] skynavga commented on #53
That may be so, but it is not used in current text based subtitling in
Japan to my knowledge, e.g., Lambda CAP does not support it. Furthermore,
it may only be a requirement for particular implementations in Japanese
D-Cinema, such as implementations that identify and reference glyphs as
opposed to characters.

Moreover, since TTML2 supports author supplied fonts, wherein the author
may implement

[2017-03-15 03:39] palemieux commented on #240
For mongolian text,

- the CSS author sets `writing-mode: vertical-lr` and `text-emphasis-position: over` in CSS, right?
- the TTML2 author sets `tts:writingMode="tblr"` and `emphasis-position="after"`.

I do not see a major difference... or is the idea that `text-emphasis-position: over` is not necessary because the default value of `text-emphasis-position` is `over`? In other words, are you argu

[2017-03-15 03:42] palemieux commented on #53
Aren't negative margins allowed?

[2017-03-15 04:00] skynavga commented on #53
ok, scratch that, it does look like negative margins on non-replaced inline
elements are supported by at chrome, safari, and firefox [1]

[1] http://codepen.io/skynavga/pen/dvzwGd

however, the actual values one would have to use for such negative margins
is dependent on the font and the font rendering engine implementation; and,
therefore, would not be interoperable without the author supplying t

[2017-03-15 04:01] palemieux commented on #53
Ok.

Is the proposal to use this as a guide to determine the Japanese language features for TTML2?

[2017-03-15 04:19] skynavga commented on #53
On Tue, Mar 14, 2017 at 10:01 PM, Pierre-Anthony Lemieux <
notifications@github.com> wrote:

I have not made such a proposal, but it does happen to be the case that the
Japanese features in TTML2 were designed in part to satisfy the authoring
capabilities of Lambda CAP, none of which require support for
micro-positioning. That doesn't mean that we can introduce requirements
from elsewhere. However

[2017-03-15 04:50] skynavga commented on #53
On Tue, Mar 14, 2017 at 10:18 PM, Glenn Adams <glenn@skynav.com> wrote:

s/we can/we can't/

[2017-03-15 15:26] r12a commented on #240
Yes.

The default value for CSS `text-emphasis-position` is actually `over right`.  This means that, whether the `writing-mode` is set to `vertical-lr` or `vertical-rl`, emphasis marks appear _by default_ to the right of the vertical line (which is what you'd expect).

As i understand it, TTML2 says that for `tblr` the default is to put text emphasis marks, overlines, ruby, etc. on the _left_.  Wh

[2017-03-15 15:29] palemieux commented on #240
Completely! Thanks for clarifying.

Do you agree that there is otherwise an unambiguous mapping between the TTML and CSS emphasis position values?

[2017-03-15 18:52] skynavga commented on #240
On Wed, Mar 15, 2017 at 9:26 AM, r12a <notifications@github.com> wrote:

The problem is that vertical left to right lines is much more common in
Chinese than Mongolian is. We need to pick a default, and the default works
well with Chinese.

If an author of Mongolian text wants to reset the default, then that is
easily accommodated in TTML2, which, unlike CSS, has a mechanism to
redefine the defaul

[2017-03-15 19:48] r12a commented on #240
@skynavga Leaving aside the `<initial/>` element for now, i want to make sure that i understand what you're saying about the direction of text.

When you say tblr i believe you mean vertical lines of text where one starts reading in the top left corner. Is that correct?  If so, i don't think i can recall ever seeing modern Chinese text in that configuration. It's usually tbrl, ie. start reading at

[2017-03-16 15:19] nigelmegitt commented on #53
[Meeting 2017-03-16] Group disposition agreed as: will not support negative inline space for glyph micro-positioning at this time. (possibly not ever) Other mechanisms exist that can be used for precise visual output including use of images.

[2017-03-16 15:27] nigelmegitt commented on #239
[Meeting 2017-03-16] Group agrees to make no change here and close the issue.

[2017-03-16 15:27] #239 closed

[2017-03-16 15:41] nigelmegitt commented on #96
[Meeting 2016-03-16] Group just about agrees to adopt the date format specified in SMIL when `ttp:timeBase="clock"` - see https://www.w3.org/TR/smil/smil-timing.html#Timing-WallclockSyncValueSyntax - it is based in part on ISO8601 and allows a year-month-day expression to precede the time value.

[2017-03-16 15:54] nigelmegitt commented on #160
[Meeting 2016-03-16] Group agrees that with the deprecation of the use of offset times for smpte timebase at the end of [§12.3.1](https://w3c.github.io/ttml2/spec/ttml2.html#timing-time-value-expressions) there is no need to go further in defining this corner case.

[2017-03-16 15:54] #160 closed

[2017-03-16 17:56] r12a commented on #240
Are you arguing that ruby, text emphasis marks, underline, etc should by default appear on the left side of the vertical lines in Chinese that proceed from left to right?

[2017-03-18 01:26] skynavga commented on #240
yes; however, I am open to reconsideration of there is a preponderance of
evidence to the contrary

On Thu, Mar 16, 2017 at 11:56 AM, r12a <notifications@github.com> wrote:

[2017-03-20 10:14] r12a commented on #240
I pinged two chairs of the Chinese layout requirements task force (who are both originally from Taiwan). They both confirmed that you can see vertical chinese text with lines that run left to right, but added the following comments:

and

This confirms to me my view that a default for tblr text that is based on Chinese text would be inappropriate, and that if someone wants to produce tblr layout f

[2017-03-20 14:20] skynavga commented on #240
OK, however, as Yijun says, this (tblr) is now a common practice; further,
I believe it is incorrect to simply say that that practice should not
exist, so we will ignore it

as I've pointed out previously, some default initial value must be chosen,
and TTML provides a way to change that default initial value; so it would
be incorrect to infer that TTML does not support Mongolian usage patterns,
as

[2017-03-20 17:06] r12a commented on #240
Actually, i'm not sure you do. The main question here is where things should appear relative to the vertical line, be it Chinese or Mongolian text, when writing mode is set to tblr.  It's not clear to me that ruby and underlines in either case would appear on the side indicated by `before` and `after`. I will ask the Chinese folks for advice.

[2017-03-20 17:41] badaa commented on #240
I totally agree with r12a.
tblr (top to bottom left to right) is default behaviour of Mongolian not Chinese.
@skynavga Are you sure, that you have not switched tblr to tbrl?

[2017-03-20 20:37] skynavga commented on #240
On Mon, Mar 20, 2017 at 11:41 AM, Badral <notifications@github.com> wrote:

You misunderstand the discussion. We are not discussing the default writing
mode to use with Mongolian vs Chinese. The default writing mode in TTML is
always lrtb, and if a different mode is required, the author must specify
it. If a vertical writing mode is desired, then the author would explicitly
specify either tblr or

[2017-03-20 20:38] skynavga commented on #240
Please note that we are discussing tts:textEmhasis positioning here, and
not tts:rubyPosition or tts:textDecoration.

On Mon, Mar 20, 2017 at 11:06 AM, r12a <notifications@github.com> wrote:

[2017-03-20 20:49] r12a commented on #240
not tts:rubyPosition or tts:textDecoration.

Note, however, that https://github.com/w3c/ttml2/issues/254 defers a decision on ruby to this issue.

[2017-03-21 17:12] nigelmegitt commented on #240
Scheduled for discussion 2017-03-23.

[2017-03-21 17:12] nigelmegitt commented on #254
Scheduled for discussion 2017-03-23.

[2017-03-23 11:07] nigelmegitt commented on #277
[scheduled for initial discussion 2017-03-23]

[2017-03-23 15:26] nigelmegitt commented on #240
Meeting 2017-03-23: Agreed as a first step to add a Note indicating that where a different default value is preferred it can be set using the `initial` element in the `head` of the document, and that this could be useful for example when the majority writing mode is tblr.

[2017-03-23 15:32] nigelmegitt commented on #254
Meeting 2017-03-23: See last comment on #240 - add a note about the ability to set preferred defaults.

[2017-03-23 15:41] nigelmegitt commented on #253
Meeting 2017-03-09: In the absence of further data points our default position on this will be to add a note recognising current non-support of bopomofo Ruby and possibly prompting for contact if anyone needs it; if we get positive data points before we have to close this off we may address this again depending on those data points.

[2017-03-23 16:05] dae-kim opened #282 "Is rubyReserve crucial?"
One of the main uses for [rubyReserve](https://www.w3.org/TR/ttml2/#style-attribute-rubyReserve) is to ensure base text in any given subtitle lines up with base text with all other subtitles.

Compare the visual example of "none" against the visual examples of "auto" or "outside".

A question that came up is: can this be reliably achieved without rubyReserve?
If so, what are the advantages of ruby

[2017-03-23 16:14] skynavga commented on #282
No.

[2017-03-23 16:14] #282 closed

[2017-03-23 18:12] r12a commented on #277
So i spoke with @fantasai about this during the i18n call, and here is a summary. The writing-modes values of sideways-lr and sideways-rl have been deferred to CSS Writing Modes Level 4 purely in order to speed up the progress of Writing Modes level3 to PR, which is hopefully imminent.  There are no plans to drop the sideways- values of writing-modes, quite the contrary, CSS is just waiting on a s

[2017-03-28 17:02] nigelmegitt commented on #244
How is this a wide or horizontal review comment @skynavga ?

[2017-03-28 18:35] skynavga commented on #244
On Tue, Mar 28, 2017 at 11:02 AM, Nigel Megitt <notifications@github.com>
wrote:

I don't understand your question.

[2017-03-29 08:17] nigelmegitt commented on #244
Apparently @skynavga you added a "wide review comment" label on Feb 17 which is now showing up as a "horizontal review comment" however it looks like an issue raised by @palemieux hence my confusion about the labelling on this bug.

[2017-03-30 05:25] skynavga commented on #244
Given that TTML2 does not specify support for any specific image type, and, further, does not specify any details or constraints on how some image type may be supported, I oppose this proposed change. On the other hand, if TTML2 does take on the task of specifying support for image types, and those types happen to include PNG, then it would be reasonable to consider this proposed change.

[2017-03-30 07:22] palemieux commented on #233
What are the differences, if any, between the proposal and the edited version?

[2017-03-30 08:54] skynavga commented on #233
The only non-editorial difference is that the name of the attribute was
shortened to tts:luminance.

On Thu, Mar 30, 2017 at 1:22 AM, Pierre-Anthony Lemieux <
notifications@github.com> wrote:

[2017-03-30 11:07] palemieux commented on #233
in `tts:hdrAbsoluteLuminanceGain`,

-  `absolute` is intended to differentiate from HDR schemes that do not use absolute luminance values
- `gain` is important since the value is not luminance, i.e. does not have units of luminance, but instead a uniteless gain applied to luminance (current industry practice)
- `hdr` is important since the gain should not be applied unless compositing to HDR image

[2017-03-30 13:27] nigelmegitt commented on #233
In https://github.com/w3c/ttml2/issues/233#issuecomment-290379132 @palemieux articulated very well exactly the position that the BBC shares on this. The attribute needs to be renamed back to `tts:hdrAbsoluteLuminanceGain` or something else that carries a similar set of connotations, and the specification for it also needs to reflect that it should not be applied in all situations.

As per previous

[2017-03-30 13:58] skynavga commented on #233
irrelevant; we don't and will not have any other style properties related
to luminance, so there is absolutely no need for the longer name; it is
just a name, and the editor claims editorial privilege on naming, something
I have done in prior versions of TTML on a number of occasions;

On Thu, Mar 30, 2017 at 5:07 AM, Pierre-Anthony Lemieux <
notifications@github.com> wrote:

[2017-04-01 12:29] skynavga opened #286 "Ambiguity regarding tab (U+0009) processing in significant whitespace."
See [w3c/ttml1/#235](https://github.com/w3c/ttml1/issues/235).

[2017-04-05 11:28] spoeschel opened #287 "ttp:frameRateMultiplier typo"
At multiple locations within the document, the attribute `ttp:frameRateMultiplier` is misspelled as `ttp:frameRateMultipler`.

I opened a similar issue for TTML1: w3c/ttml1#236.

[2017-04-05 18:43] palemieux commented on #244
Handling of HDR images is as important as handling HDR text. A potential alternative would be to publish the proposed annex as a WG note.

[2017-04-05 18:47] palemieux commented on #233
See TTWG minutes at https://www.w3.org/2017/03/30-tt-minutes.html

[2017-04-13 15:19] nigelmegitt commented on #139
Meeting 2017-04-13: Agreed to remove the "any" term from `ttp:contentProfiles` since it has no defined or intuitive meaning.

[2017-04-13 15:33] nigelmegitt commented on #244
Meeting 2017-04-13: Agreed to draft a WG Note for this and reference it from TTML2. @palemieux to draft the Note.

[2017-04-13 15:40] nigelmegitt commented on #244
Closing this for now since any request to add a reference to the WG Note can be a new issue later.

[2017-04-13 15:40] #244 closed

[2017-04-13 15:40] nigelmegitt commented on #244
The WG Note will live in https://github.com/w3c/png-hdr-pq

[2017-04-13 20:15] svgeesus commented on #244
should I send review comments here, or on the new repo? I have a bunch of questions, actually.

[2017-04-13 20:17] palemieux commented on #244
@svgeesus I am working on a first version, so recommend posting issues directly against it once it is available.

[2017-04-13 21:28] palemieux commented on #244
Initial draft at https://w3c.github.io/png-hdr-pq/

[2017-04-13 21:57] skynavga commented on #287
Fix in 0e891c9ca4fc951a559b4be06844a83dd930df18.

[2017-04-13 21:57] #287 closed

[2017-04-13 22:18] #139 closed

[2017-04-14 21:40] dronca commented on #195
This is a very significant feature, and it is very late to the TTML2 project.  We are concerned that this issue will unnecessarily delay TTML2.  This feature should be deferred to the next revision of TTML or to a separate specification.

[2017-04-16 20:09] skynavga opened #290 "Change latest version link in ED to reference TR/ttml2."

[2017-04-16 20:10] skynavga commented on #290
Resolved in 257c5e53c3c0ee9ea93ab6b8c5e64498b2f7557b, with updated ED at f8c11f695facbdaf12596acc09bc32a9a2f877fc.

[2017-04-16 20:10] #290 closed

[2017-04-17 15:10] mikedo commented on #195
I'm struggling with using TTML as a packaging framework for multiple-media presentations.  It's timed *text*. Image support was added to support pre-rendered *text* glyphs - there was no "slideshow" use case. TTML documents should be integrated with other media tracks (audio, images, video, etc) using existing frameworks - HTML5, ISOBMFF, etc.

[2017-04-18 07:03] skynavga commented on #161
There is no such implied restriction; rather, the note under [1] provides the operational semantics:

In other words, it is up to the document processing context to decide what "time expressions ... denote the same label".

[1] file:///Users/glenn/work/ttml2/spec/ttml2.html#parameter-attribute-markerMode

[2017-04-18 10:14] nigelmegitt commented on #195
@mikedo You seem to be assuming that visual renderings of text somehow have a higher priority than audio renderings. I do not agree with this.

The point that TTML documents should be integrated with other media tracks using existing frameworks is orthogonal to the AD feature. In the case of both captions/subtitles and AD, a presentation processor takes TTML, uses it to create some output media bl

[2017-04-18 10:24] nigelmegitt commented on #195
@dronca wrote:

Since the drafting work for this is almost complete at https://github.com/w3c/ttml2/tree/issue-0195-audio-descriptions we should continue with this and, if there are unlikely to be enough implementors, consider the feature as being at risk in CR rather than removing it from the scope of a WD. Also, we cannot get review of the feature unless we publish it. The sense I have from indu

[2017-04-18 10:42] nigelmegitt commented on #161
Are you suggesting that a processing context may wish to convert a clock time expression, say, using fractions of seconds, to a SMPTE marker mode, and then look for that in the source of SMPTE timecode? And that this conversion is something that we do not need to document?

The whole premise (of SMPTE discontinuous) seems untenable to me unless we have something approximately the same as a SMPTE t

[2017-04-18 15:59] skynavga commented on #161
I should have noted as well that we already added the following text in [1], deprecating the use of offset-time as well as a fraction component in a clock-time for smpte time base:

Does that address your concern?

[1] https://w3c.github.io/ttml2/spec/ttml2.html#timing-value-time-expression

[2017-04-18 17:07] nigelmegitt commented on #161
Ah, thank you, yes that does help. It's not quite the positive "you should/shall use `hh:mm:ss:ff`" that is one of the possible resolutions for this issue but it is very close - the `:ff` component is marked as optional.

Is it a reasonable assumption that implementors will treat a missing `:ff` component as identical to `:00` for the purpose of interpreting as a SMPTE timecode label? I'm not sure

[2017-04-18 17:37] mikedo commented on #161
There are not really any "frames" - this is just a string label. The strings are not identical and there is currently no default value.  We would have to define a default value and its encoding to me identical to whatever we think the default should be.

[2017-04-18 17:46] mikedo commented on #195
@nigelmegitt This is a pretty fundamental architectural disconnect.  TTML is not (intended) to be a generic media wrapper. So, it is not (intended) to be anything like HTML or ISOBMFF. I really don't like the architectural boundary that this proposal crosses. And, how do you reconcile adding this with the various scope statements found in the Abstract and Introduction, such as: "TTML is expressly

[2017-04-18 18:54] skynavga commented on #195
On Tue, Apr 18, 2017 at 11:46 AM, Michael A Dolan <notifications@github.com>
wrote:

 @mikedo you may have forgotten (given the passage of time) that we
actually included audio in the original requirements [TTAF1-REQ]

R222 – Embedded Audio

The TT AF shall be capable of expressing embedded audio that is intended to
be played or rendered in sequence or in parallel with associated text
content.

*N

[2017-04-18 19:45] mikedo commented on #195
I didn't like them then either. It was not an accident that those requirements were not satisfied, marked "N" and not added in over a decade. So I guess it depends on how you read that table in Appendix M.

If you read the Abstract and Introduction, it is pretty clear that TTML1 (and also TTML2 unless you change it) is only about textual information, e.g.: "The Timed Text Markup Language is a cont

[2017-04-18 19:56] skynavga commented on #195
The same way one does with images.

If you mean user control of audio playback, that will be part of the document processing context and out of scope for TTML2. Basically, TTML2 will say that if audio is supported and enabled, then here are the implied semantics for playback, which is to say. Two types of audio sources will be supported, audio from resources and audio from a built-in speech synthe

[2017-04-18 20:39] mikedo commented on #195
Audio is not at all like images, which are static and have no intrinsic timeline of their own.  Audio is perhaps closer to a continuous animation. At the very least, I believe that a second note is needed in Appendix J.

If one accepts that audio is added to TTML (I do not), then yes, it is certainly reasonable to define the TTML processor models to have both visual and aural outputs. I just don't

[2017-04-18 20:57] skynavga commented on #195
If you think of an image as a sequence of constant frames, then an image can be considered to have a timeline. Or consider an audio segment as a sequence of a constant sample. So they can be compared to one another.

Perhaps you refer to the point that an audio sample sequence may have a different intrinsic duration than the text with which it is associated? Yes, this needs to be addressed, e.g.,

[2017-04-18 21:09] mikedo commented on #195
I don't agree with your analogy analysis, but the point is that mention in Annex J is needed.

I don't understand "text with which it is associated".  In the BBC use case there is by definition no text in the same temporal interval as the audio.  In any event the audio is associated with a temporal interval, not necessarily text.

Yes, more work is needed on boundary conditions. Why not require

[2017-04-18 21:11] mikedo commented on #195
[sorry slip of the mouse] ...that the interval align with the duration of the clip? Else, you also have to consider a clip start offset and the details around a clip that spans multiple intervals.

[2017-04-19 08:23] nigelmegitt commented on #161
@mikedo that's what I thought too. However unless I have misunderstood there is currently no specified algorithm for converting (in either direction) between the string label in the TTML document and the SMPTE timecode value.

[2017-04-19 13:32] mikedo commented on #161
Right.  All we can do is map between the strings. 12M semantics were not incorporated, and also, there is no canonical string representation of 12M - it is not defined by SMPTE. There are several different edit list string representations in practice. So, here, it is truly just a string label. We can define the string mapping with a default if we want to.

[2017-04-19 14:00] nigelmegitt commented on #161
I would be happy to add text specifying the synthesis of a time expression label from SMPTE timecode, presumably along the lines of:

* Take the hours component and create a 2 digit zero padded equivalent numerical representation string which we label `hh`
* Take the minutes component and create a 2 digit zero padded equivalent numerical representation string which we label `mm`
* Take the seconds

[2017-04-19 15:24] skynavga commented on #161
I am far from convinced that there is any problem here. If you can show how
lack of a defined mapping results in interoperability failures, then that
would be a good starting point for a problem description.

On Wed, Apr 19, 2017 at 8:00 AM, Nigel Megitt <notifications@github.com>
wrote:

[2017-04-19 15:58] nigelmegitt commented on #161
I can't point to any specific examples of interoperability failures, just theoretical ones.

Since the algorithm for mapping SMPTE timecode to a time expression is undefined it would be feasible and conformant for the following to occur:
* A SMPTE time code value whose hours are 0, minutes are 8, seconds are 13 and frames are 20 is received.
* Implementation 1 maps it to the string  `12345f` and
*

[2017-04-19 17:39] palemieux commented on #233
See https://github.com/w3c/ttml2/pull/283#issuecomment-290472127

[2017-04-19 20:19] skynavga commented on #161
That just means one of the implementations is broken, not that there is an
interop problem.

The form of the timestamp/label and how comparison occurs takes place
wholly within the implementation, and is not visible to either author or
end user. It is the implementers responsibility to "do the right thing" in
this regard.

On Wed, Apr 19, 2017 at 9:58 AM, Nigel Megitt <notifications@github.com>
wr

[2017-04-19 21:40] skynavga opened #292 "Update note regarding ISOBMFF and DASH."
Submitted by @mikedo with blessings from @nigelmegitt, replace note and add informative reference as follows:

[2017-04-19 22:00] skynavga commented on #292
Resolved in 4344e321d5241d04fb42202be0def56168262278. Updated ED in 5f695d27d5eaab970d157cfbc5bba46e5fa5e40e.

[2017-04-20 08:33] nigelmegitt commented on #161
interop problem.

I don't understand this. We have a situation where one TTML document works with one implementation but does not work with another implementation, yet both implementations are apparently conformant. How is that not an interop problem?

[2017-04-20 08:38] skynavga commented on #161
Are you suggesting it is reasonable that an implementation does the
following?

   - A SMPTE time code value whose hours are 0, minutes are 8, seconds are
   13 and frames are 20 is received.
   - Implementation 1 maps it to the string 12345f and

On Thu, Apr 20, 2017 at 2:33 AM, Nigel Megitt <notifications@github.com>
wrote:

[2017-04-20 08:47] skynavga commented on #161
On Thu, Apr 20, 2017 at 2:37 AM, Glenn Adams <glenn@skynav.com> wrote:

Let me back up.

If one implementation wants to map a time expression equivalent to
00:08:13:20 to a label expressed as a frame count and then converts smpte
time codes embedded in media to a label expressed as a frame count and then
compares the frame counts. While another implementation uses hh:mm:ss:ff
format for labels and

[2017-04-20 09:06] nigelmegitt commented on #161
00:08:13:20 to a label expressed as a frame count and then converts smpte
time codes embedded in media to a label expressed as a frame count and then
compares the frame counts.

Ah right, I see - you are envisaging that despite the marker mode, the implementation is nevertheless performing some processing on the time expression to convert it to an internal canonical format. I had made the opposite

[2017-04-20 09:31] skynavga commented on #161
On Thu, Apr 20, 2017 at 3:06 AM, Nigel Megitt <notifications@github.com>
wrote:

It "the label" can be "treated purely as a string for direct comparison"
but that is really an implementation detail, since, as Mike points out,
SMPTE time codes themselves don't have a canonical format in the first
place. So it is up to an implementation to "do the right thing" when
comparing a SMPTE time code and so

[2017-04-20 10:09] nigelmegitt commented on #161
SMPTE time codes do have a defined format in terms of bits to be inserted in data streams; they just do not have a canonical _string_ format. For me this is the missing part.

Given the existing text about discontinuous markerMode I think it would be worth adding a further note that implementations are expected to use their own internal algorithm to compare the time expression with a time code val

[2017-04-20 10:21] skynavga commented on #161
Ok, it should be no problem to provide such a note. I'll take that action.

On Thu, Apr 20, 2017 at 4:09 AM, Nigel Megitt <notifications@github.com>
wrote:

[2017-04-20 10:24] nigelmegitt commented on #161
Thank you @skynavga !

[2017-04-20 15:16] nigelmegitt commented on #292
Meeting 2017-04-20: Agreed to close.

[2017-04-20 15:16] #292 closed

[2017-04-20 15:49] nigelmegitt commented on #233
Meeting 2017-04-20: Agreed to a working assumption of the name `luminanceGain` to be adopted via a PR to be raised by @palemieux . Also @nigelmegitt will propose an additional PR to add HLG support.

[2017-04-20 17:22] mikedo opened #293 "Reference versioning"
I note that a number of references are non-versioned.  That is, no specific version/edition/date is provided in the reference list.  Is this intentional?  If so, what does that mean in W3C?

[FYI, ISO last year started allowing non-versioned normative references, which means basically the latest in force edition.  For normative references this has some downsides, including creating non-interoperab

[2017-04-21 11:40] nigelmegitt commented on #233
BBC (thanks especially to @simontWork but also others who know who they are) submits the following document containing a proposal for an addition to Appendix P illustrating a simple method for converting sRGB to HLG for HDR:

[SimpleConversion_sRGBtoHLG[9].pdf](https://github.com/w3c/ttml2/files/946909/SimpleConversion_sRGBtoHLG.9.pdf)

This algorithm does not make use of the `tts:luminanceGain` s

[2017-04-22 21:05] palemieux opened #295 "CSS 2.1 vs CSS 2"
TTML2 normatively references XSL 1.1, which normatively references CSS2.
TTML2 also references `[CSS2]` directly in the prose, which points to a normative reference to CSS2.1.

Need to clarify if each of the direct references to `[CSS2]` are to CCS2 or CSS2.1, and update the list of normative and informative references accordingly.

[2017-04-24 02:15] skynavga commented on #295
There is no bug here. TTML2 references CSS2.1. TTML2 also references XSL-FO 1.1, which references CSS2. So depending on the route to the specific reference, either CSS2.1 or CSS2 applies.

[2017-04-24 03:22] skynavga opened #296 "Replace automatic inline block generation with explicit tts:display='inlineBlock'."
The discussion of #146 led to a conclusion at the London F2F to require the use of an explicit value on tts:display to obtain inline block formatting, as opposed to the automatic generation of an inline block based on specific circumstances.

Consequently, this issue will effectively remove this automatic behavior and define the explicit behavior for generating an inline block.

[2017-04-24 03:26] skynavga commented on #146
Add dependency
- [ ] #296

[2017-04-24 10:31] nigelmegitt commented on #295
That was my understanding also, that the references are specific to the places they come from. One oddity though is that `[CSS2]` is recorded as a normative reference but there does not appear to be any normative text that references it. The only section not explicitly marked as non-normative or as a Note is in §8 Styling:

Should `[CSS2]` be moved out of the normative references section and into

[2017-04-24 10:41] nigelmegitt opened #298 "Add support for sRGB compositing for HLG"
Opening a separate issue to track the editing work to support HLG, as introduced in https://github.com/w3c/ttml2/issues/233#issuecomment-296168903 .

[2017-04-24 10:42] nigelmegitt commented on #233
I split out the HLG work into #298 to make it easier to track the editing work for that separately.

[2017-04-24 14:39] palemieux commented on #295
This clearly does not apply to CSS 2.1 since, as we have seen recently, XSL 1.1 and CSS 2.1 have different handling of whitespaces.

It looks like Section 10.2.7 requires CSS 2.1 even though the reference is in a note?

Sure. Both CSS 2 and 2.1 could be referenced.

[2017-04-27 15:07] palemieux opened #300 "tts:overflow does not apply to the region area"
See https://github.com/w3c/ttml1/issues/239

[2017-04-27 15:19] palemieux commented on #270
@aphillips The `name` attribute of the `ttm:item` element is not free-form: it is a symbol from the constrained vocabulary of Section 14.3.2. Specifically, instead of defining _X_ XML elements, each with a tag equal to a value of the constrained vocabulary of Section 14.3.2, the specification defines a single `ttm:item` element with a `name` attribute that contains a symbol from the constrained vo

[2017-04-27 15:44] palemieux commented on #269
See also https://github.com/w3c/ttml2/issues/266

[2017-04-27 15:50] nigelmegitt commented on #293
Meeting 2017-04-27: Agreed to prefer versioned references especially for normative reference and to include any dates in the visible text in the references section as well as in the link.

[2017-04-27 16:20] palemieux commented on #269
@dae-kim and @aphillips Please review the revised example at [writingMode-example.ttml.zip](https://github.com/w3c/ttml2/files/962196/writingMode-example.ttml.zip), which is intended to replace the `tts:writingMode` example.

[2017-04-27 16:24] skynavga commented on #233
Merged #294 and closing.

[2017-04-27 16:24] #233 closed

[2017-04-27 16:26] skynavga commented on #270
I concur that no action is required.

[2017-04-27 16:28] palemieux commented on #270
Do not close issues that are not assigned to you.

[2017-04-27 17:55] palemieux commented on #271
@aphillips Proposed resolution at https://github.com/w3c/ttml2/issues/301. Please review.

[2017-04-27 19:12] palemieux commented on #268
@aphillips What would be the semantics of `auto` and how would it be different than having an initial value specified (`ltr`)?

[2017-04-27 19:14] palemieux commented on #264
See https://github.com/w3c/ttml2/issues/221 and https://github.com/w3c/ttml1/issues/228

[2017-04-28 03:15] skynavga opened #302 "Incorporate resolutions of TTML1 issues."
This is an umbrella issue to cover the tasks of incorporating resolutions of TTML1 issues into TTML2.

- [x] [w3c/ttml1/#205](https://github.com/w3c/ttml1/issues/205) padding percentage
- [x] [w3c/ttml1/#221](https://github.com/w3c/ttml1/issues/221) padding and extent
- [x] [w3c/ttml1/#235](https://github.com/w3c/ttml1/issues/235) tab semantics
- [x] [w3c/ttml1/#237](https://github.com/w3c/ttml1/i

[2017-04-28 03:16] skynavga commented on #300
Duplicates #302.

[2017-04-28 03:16] #300 closed

[2017-04-28 03:19] skynavga commented on #295
Duplicate of #302.

[2017-04-28 03:19] #295 closed

[2017-04-28 03:23] skynavga commented on #286
Duplicate of #302.

[2017-04-28 03:23] #286 closed

[2017-04-28 03:30] skynavga commented on #144
Duplicate of #302.

[2017-04-28 03:30] #144 closed

[2017-04-28 15:12] nigelmegitt commented on #270
This issue has been correctly labelled as a horizontal review comment; since horizontal review is essentially part of wide review and this comment came from outside the WG we should not be closing this issue without:

1. Agreeing a WG disposition
2. Confirming this disposition with the person who raised this issue.

Closing it without either of the above two things happening is inappropriate - @sk

[2017-04-28 15:16] nigelmegitt commented on #270
@aphillips If you could have a look at https://github.com/w3c/ttml2/issues/270#issuecomment-297746585 and respond that would be very helpful: if you concur with the other presented views that no change is needed here then as the original raiser of the issue it would be reasonable for you to add a comment to that effect and if you want, close the issue. Otherwise it is likely to be the group's disp

[2017-04-28 15:23] skynavga commented on #270
Absent a technical reason not to close this (or any) issue, it is entirely appropriate to do so.

[2017-04-28 15:24] aphillips commented on #270
I apologize for having typed the example incorrectly. The attribute in question is not `name`, it is `altText` (as the title says). This attribute is described in 14.3.2 as:

This is natural language text. Any natural language text should have a way to indicate the language and direction for presentation and processing purposes.

[2017-04-28 15:28] skynavga commented on #270
@aphhillips and there is a way to indicate language, namely, by using xml:lang, e.g.,

<ttm:item name="altText" xml:lang="fr">Il n'y a pas de problème ici</ttm:item>

there is no attribute here that contains natural language text

[2017-04-28 15:30] nigelmegitt commented on #270
Thank you for the speedy response @aphillips - does https://github.com/w3c/ttml2/issues/270#issuecomment-282738598 not address that point about `altText` however?

[2017-04-28 15:32] nigelmegitt commented on #270
@skynavga This isn't really the place to be discussing this, but the Process absolutely does require confirmation of disposition, see https://www.w3.org/2017/Process-20170301/#formal-address .

[2017-04-28 15:37] aphillips commented on #270
@nigelmegitt If that's the syntax, then yes it does. Thanks.

[2017-04-28 15:45] nigelmegitt commented on #270
Thank you @aphillips that is indeed the syntax; I'm going to take that as agreement from you that what you're seeking can already be done and that there is indeed no issue here, and therefore close the issue on your behalf - if I have misunderstood then please reopen it.

[2017-04-28 15:45] #270 closed

[2017-04-28 15:47] aphillips commented on #270
@nigelmegitt "I am satisified" :-)

[2017-04-28 18:36] aphillips commented on #268
@palemieux The semantics would be the same as for HTML: the first strong character would determine the direction.

When `dir` is not specified, the default is `ltr`. Specifying `auto` allows for several things, but the main one is: data that is inserted dynamically at runtime (such as document generation time) whose base direction cannot be known by the inserting process. This is fairly common in

[2017-04-28 20:36] skynavga commented on #270
@nigelmegitt regarding

Firstly, the essence of the process requirement

is effectively satisfied by the above comments pointing out that there is no technical issue here. Secondly, there is no process requirement that requires the commenter to agree with the response. Thirdly, there is no process requirement that requirement that dictates who may close or when an issue is closed in our github rep

[2017-05-02 08:09] #298 closed

[2017-05-02 14:53] palemieux commented on #268
I have not see this as a use case in TTML so far.

In any event, doesn't the application that inject the text (`<?php echo $theString; ?>`) know the directionality of the injected text?

[2017-05-02 15:26] palemieux commented on #261
I could not find equivalents to tts:rubyOverhangClass and tts:rubyOverhang in the CSS specification.

[2017-05-02 16:33] nigelmegitt commented on #268
Well firstly TTML2 is a document format (information set) and not an in-memory model, and secondly that information set does not allow for text content injection.

However there is in fact a requirement for this feature, R205 at https://www.w3.org/TR/2006/NOTE-ttaf1-req-20060427/#content which as you can see from the table at https://w3c.github.io/ttml2/spec/ttml2.html#requirements is only current

[2017-05-02 17:00] aphillips commented on #268
Agreed, but would you allow that TTML2 documents might themselves be generated? Most useful document formats these days do end up being generated via tools. Not all tools have direction information available. They just know that they are going to insert, say, the name of the speaker, a colon, and then what the speaker said.

[2017-05-02 17:02] palemieux commented on #268
I think it is reasonable to expect subtitling generation tools to have such information available since, after all, there are specifically designed to handle localized content.

[2017-05-02 19:50] skynavga commented on #261
@r12a

This is not correct. The author can specify an initial (default) value of a different overhang character set as desired, e.g.,

<pre>
&lt;initial tts:rubyOverhang="ideographic punctuationMarks"/&gt;
</pre>

I suggest this issue be closed (works for me).

[2017-05-03 04:02] skynavga commented on #293
Only the following normative references are undated (un-versioned):

 * [GPS]
 * [RELAX NG]
 * [SMPTE 12M]
 * [SRGB]
 * [UTC]

Does anyone think any of these need to be dated/versioned?

[2017-05-03 15:28] r12a commented on #269
@palemieux those examples look better to me, thanks.  (Still a little western biased because they start with Latin text, but that's probably ok, since it may help people not so familiar with the other scripts.)  However the Japanese 万人 is a bit odd.  You probably want to use みなさん、こんにちは instead.

[2017-05-03 15:30] r12a commented on #269
[OT] Btw, in case it's helpful some time, i have a set of short phrases that can be used as examples at http://r12a.github.io/scripts/phrases

[2017-05-03 17:19] r12a opened #304 "Typos in rubyOverflow example"
10.2.37 tts:rubyOverflow
https://w3c.github.io/ttml2/spec/ttml2.html#ruby-overflow-example
[code]

has an incorrect `<`, as do two other lines in this example.

[2017-05-03 22:54] dae-kim commented on #269
Looks good to me. With or without the Japanese edit.

[2017-05-03 23:42] palemieux commented on #262
@r12a Can you confirm that the top region in the PNG below is the proper output given the following TTML snippet?

[code]
![0](https://cloud.githubusercontent.com/assets/4871350/25685929/836492de-301f-11e7-8c17-952e0fdc1d52.png)

[2017-05-03 23:48] palemieux commented on #261
@r12a Does the information at https://github.com/w3c/ttml2/issues/261#issuecomment-298741893 resolve your comment?

[2017-05-03 23:54] palemieux commented on #265
UA support seems sparse so far for `isolate` seems sparse at this point (https://developer.mozilla.org/en-US/docs/Web/CSS/unicode-bidi).

What are key use cases that `embed` and `override` cannot support but `isolate` can?

[2017-05-03 23:56] palemieux commented on #263
@r12a Does the information at https://github.com/w3c/ttml2/issues/263#issuecomment-280415104 resolve your comment?

[2017-05-04 00:05] palemieux commented on #269
Attached is a revised example I plan to use as basis for the PR.
[writingMode010.ttml.zip](https://github.com/w3c/ttml2/files/974963/writingMode010.ttml.zip)

[2017-05-04 01:29] skynavga commented on #265
Please do not add a horizontal review comment to the TTML2WR milestone unless you have posted a PR.

[2017-05-04 01:34] skynavga commented on #296
Resolved by #297.

[2017-05-04 01:34] #296 closed

[2017-05-04 01:36] skynavga commented on #157
Resolved by #291.

[2017-05-04 01:36] #157 closed

[2017-05-04 03:17] skynavga commented on #253
Resolved in merge of #303, an editorial only PR.

[2017-05-04 04:24] skynavga commented on #87
Marking as works for me and closing. If @mikedo still thinks this needs revisiting, then please reopen and add discussion needed label.

[2017-05-04 04:24] #87 closed

[2017-05-04 05:48] palemieux commented on #265
@skynavga As mentioned before, the folks from MovieLabs plan on resolving all horizontal review comments before wide review.

[2017-05-04 07:00] skynavga commented on #265
As I said, I don't mind you adding to the WR milestone when you have posted a PR. As for when those are completely resolved, you at least have until all the other WR issues are resolved. Then it is a question to the group whether to hold up the WR if some HR issues remain open.

[2017-05-04 09:25] r12a commented on #265
There are a couple of examples at https://www.w3.org/International/articles/inline-bidi-markup/uba-basics#isolation

Before html5 added isolation, this was a constant problem for bidi text.

[2017-05-04 11:27] r12a commented on #262
@palemieux the output looks like what i'd expect to see, given the markup – it may be clearer if you add quote marks around the title, btw. (and don't forget to put those outside the span, since they are part of the surrounding text.)

Of course, in the bottom line the text is incorrectly arranged. Assuming that you meant to show broken text in the bottom region, and will explain that to the reade

[2017-05-04 14:45] nigelmegitt commented on #253
@r12a Does the updated text satisfy you as a resolution to this issue? There was some discussion in the group about how important it may be to include the term "zhuyin fuhao" in addition to "bopomofo" given that bopomofo is used in CSS and Unicode. The Editor made the call to remove "zhuyin fuhao" in this case.

[2017-05-04 16:09] palemieux commented on #262
Will do.

The PR will remove the bottom region.

[2017-05-04 17:00] r12a commented on #253
From Wikipedia:

"Zhùyīn fúhào" is not used in the CSS spec. Clreq (chinese layout requirements) doc uses just Zhuyin. (The glossary adds Bopomofo in parens.)

I think more western people are familiar with bopomofo than with zhùyīn fúhào, so i'm not sure i have any particular objection.

It would have been nice to have hinted why it is not supported, though (ie. lack of user demand). I think that

[2017-05-04 21:22] palemieux commented on #128
@nigelmegitt Are you still interested in adding this capability to TTML2? If so, can you suggest a PR based on the `set` approach mentioned in https://github.com/w3c/ttml2/issues/128#issuecomment-248336863? If not, ok to defer to TTML vNext?

[2017-05-06 18:23] #269 closed

[2017-05-06 18:45] skynavga commented on #293
No further comment received, so closing. If someone wishes to propose adding a version/date to one of the above references, please comment here or let me know.

[2017-05-06 20:03] palemieux commented on #293
Per https://github.com/w3c/ttml2/issues/293#issuecomment-297755548, the group _prefers versioned references especially for normative reference_, so yes they should be dated.

[2017-05-06 20:06] skynavga commented on #293
Unless someone proposes a specific date to be added, then there is no action to be taken. Please do not reopen unless you make a specific proposal.

[2017-05-06 20:20] palemieux commented on #293
sRGB should use CEI/IEC 61966-2-1:1999

[2017-05-06 20:23] palemieux commented on #293
SMPTE 12M does not exist anymore. You probably mean http://ieeexplore.ieee.org/document/7291029/

[2017-05-06 20:25] palemieux commented on #293
[UTC] is probably the 2002 version at https://www.itu.int/rec/R-REC-TF.460/en

[2017-05-06 20:26] palemieux commented on #293
@skynavga More importantly perhaps, this issue is assigned to @mikedo and not you

[2017-05-06 20:41] skynavga commented on #293
On Sat, May 6, 2017 at 2:26 PM, Pierre-Anthony Lemieux <
notifications@github.com> wrote:

The editor is free to perform any processing on any issue regardless of
assignees.

[2017-05-08 10:10] nigelmegitt commented on #293
@skynavga thanks for doing the prep work to highlight the references that this issue affects, as listed at https://github.com/w3c/ttml2/issues/293#issuecomment-298818711 ; please could you leave a little more time for people to respond though, especially the person to whom this issue is assigned? There weren't even 3 working days on this, assuming most people do not treat weekends as working days.

[2017-05-08 15:52] r12a commented on #261
@palemieux there are none.  Something along these lines should be added to a future level. The idea was to limit the content in level 1 to get it adopted sooner.

@skynavga the text i quoted relates to the `auto` setting. I know that the author can use a different approach if they want to, but i was wondering why the behaviour for Chinese and Korean is more restrictive than for Japanese when `auto

[2017-05-09 05:32] palemieux commented on #141
Couple of potential solutions:

1. change `S` to `P` for R217 in Annex M
2. move Annex M to a wiki page (some of these requirements in https://www.w3.org/TR/2006/NOTE-ttaf1-req-20060427/ might no longer be valid, and some may be missing)
3. update https://www.w3.org/TR/2006/NOTE-ttaf1-req-20060427/

I would lean towards (2) at first glance.

[2017-05-09 05:56] skynavga commented on #141
An alternative to (2) is simply to remove Annex M, which I would support (as it is the easiest); however, if someone wants to take on the work of moving it to a wiki, then I'd be happy to replace the content of Annex M with a reference to that wiki.

[2017-05-09 09:03] nigelmegitt commented on #141
I rather like having Annex M, and it certainly helps answer the transition question about whether the spec meets the requirements. I don't mind keeping it up to date.

I notice that none of the options presented in https://github.com/w3c/ttml2/issues/141#issuecomment-300065553 is to modify the spec to meet the requirement. I still think we should consider the options for doing that, as a first ord

[2017-05-09 11:18] LJWatson commented on #195
The inclusion of AD in TTML2 is both logical and important. Without AD it's impossible for blind and partially sighted people to fully understand and enjoy video content, so the more we can do to make the provision of AD as efficient as possible the better.

AD can be provided using synthetic speech, based on time markers and text, which strongly suggests that TTML is a good way to do it. With [co

[2017-05-09 15:06] palemieux commented on #195
@LJWatson The issue in my mind is not with AD, but how it is integrated in the overall A/V pipeline. In particular, it would be very unusual for a timed text document to control audio mixing and routing, which is typically done at the playlist level. It might be my understanding. I do not recall this complex proposal being presented in detail within the TTWG. I therefore suggest scheduling time in

[2017-05-09 15:12] palemieux commented on #141
As discussed above, the _shall_ in "if block or inline graphics are used for the purpose of expressing pre-rasterized text in a bitmap format, then the original text that produced such a pre-rasterized form shall also be required to be present in TT AF content" does not make sense. I thought @nigelmegitt agreed, but perhaps not?

This would mean tracking every addition in TTML2 and making sure it

[2017-05-09 15:26] LJWatson commented on #195
Thanks @palemieux - if I can provide a useful perspective as an accessibility professional (and consumer of AD), I'd be happy to help.

[2017-05-09 15:27] skynavga commented on #195
I view the problem in simpler terms. A TTML presentation engine produces timed raster images already. Extending this to producing a composite, timed audio stream is no great conceptual leap. It is no more complex than the "mixing and routing" of text content into regions for rasterization. The net output is one stream of images and one stream of audio. It is then up to the containing application t

[2017-05-09 15:27] nigelmegitt commented on #195
@palemieux a reminder: these requirements were circulated for discussion and raised on [day 2 of our meeting](https://www.w3.org/2016/09/20-tt-minutes.html#item13) in TPAC 2016 in Lisbon. We also went through them in more detail during the joint [TTWG/Web and TV IG meeting](https://www.w3.org/2016/09/19-webtv-minutes.html#item04).

In this case the completed TTML document would be used as source d

[2017-05-09 15:29] nigelmegitt commented on #141
Yes, I'm aware of that and happy to do it. I've done it before, by the way.

[2017-05-09 15:36] mikedo commented on #195
Unfortunately, this technical discussion has devolved into the geo-politics of support for AD/VD.  This is not about whether AD/VD is important.  Of course it is.  The question is its relevance within Timed Text. I believe adding this feature will be more complex to do correctly than currently envisioned.

I concede only with the point of view that, like all applications of TTML1/TTML2, a profile

[2017-05-09 15:50] skynavga commented on #141
Keep in mind that Annex M is strictly informative, so there is no material
requirement to keep it up to date. It's sole purpose is to provide
historical background.

On Tue, May 9, 2017 at 9:29 AM, Nigel Megitt <notifications@github.com>
wrote:

[2017-05-09 16:05] nigelmegitt commented on #195
@mikedo

Sorry, I don't think that's a fair representation of the discussion. All the comments have clearly been concerned with support for AD in TTML2, not the merits of AD _per se_.

What technical reason is the basis for your belief? If you are planning to implement this functionality then I'd be delighted to learn that!

[2017-05-09 17:17] palemieux commented on #195
It was not discussed.

This is not the TTWG.

I do not think it is unreasonable to request a walkthrough of this complex feature in the WG.

That sounds like a promising avenue for the purposes of authoring AD essence, but not for distribution where the routing and mixing of tracks should not be handled within a given track.

[2017-05-09 17:19] palemieux commented on #141
@nigelmegitt Can you confirm that you agree that the _shall also be required to be present_ in R217 is not correct?

[2017-05-09 17:26] palemieux commented on #261
@skynavga Can you answer the question _why the behaviour for Chinese and Korean is more restrictive than for Japanese when auto is set_?

[2017-05-09 19:37] dae-kim commented on #274
Can we state that Latin annotations should/shall always be "center"?

Is there a pinyin version of https://drafts.csswg.org/css-ruby-1/?
What are the rules around overhang, overlap, etc?

When we say "latin", do we mean specifically the standard/half-width variants like U+0041?
Or do we also mean the full-width variants like U+FF21?

[2017-05-09 22:22] dae-kim commented on #248
I don't anticipate TTML2 authors be surprised by the semantics of "auto" since it's reasonable to assume they read the prose before authoring.

The only actionable item here is to suggest we add a note encouraging authors to use 亜(あ)麻(ま)仁(に)
 instead of 亜麻仁(あまに)

[2017-05-09 22:39] dae-kim commented on #258
I'm not sure what the diagram is showing.

Are the spaces between base characters authored that way (B A S E)?
Or are the spaces between base characters artificially inserted after the fact (BASE)?

In either case, shiftRuby will move the annotations and will not introduce artificial spacing between base characters. Whether the annotations are applied to a single base character or multiple base ch

[2017-05-09 22:43] dae-kim commented on #250
In the case of "auto": otherwise (NR is greater than NB), the semantics of center apply

Are you asking we add this info within the intro sentence?

[2017-05-10 11:04] r12a commented on #258
The **gaps** are automatically created (in a similar way as, i assume, would happen for shiftBase in order to produce a gap at the start of the line per your diagram in 10.2.37,  or when using `rubyAlign` set to `spaceAround`).

Jlreq expects overflow to be handled as shown in your diagram in 10.2.37 when an annotation appears alongside a single character, but in the case where a group ruby annota

[2017-05-10 15:00] nigelmegitt commented on #253
Thank you @r12a, I hope to raise that point in an upcoming meeting, of if we should add a hint of why it is not supported.

[2017-05-10 15:34] skynavga commented on #253
Resolved last comment by @r12a in 10fdea62e02b422a4a1bc4cefcc782c495b364e6.

[2017-05-10 15:34] #253 closed

[2017-05-10 15:36] skynavga commented on #293
I believe we do not need to version the [UTC] reference. I'll wait for @mikedo to propose something for SMPTE 12M. I'm ok with the proposed sRGB version.

[2017-05-10 15:37] nigelmegitt commented on #253
Thanks @skynavga assuming that's okay for everyone else I think that works - it does for me, and it appears to address @r12a 's points also - confirmation welcome!

[2017-05-10 15:45] skynavga commented on #261
Add punctuationMarks for Chinese/Korean base text. Resolved in 49ee8b475e9e53531445c1d97d8d351bb2a4e660.

[2017-05-10 16:07] palemieux commented on #261
Doesn't this need 3 day review?

[2017-05-10 16:09] nigelmegitt commented on #270
For reference, an example corresponding to https://github.com/w3c/ttml2/issues/270#issuecomment-282738598 is added by #307 .

[2017-05-10 16:24] skynavga commented on #261
No. It is a trivial semantic correction.

[2017-05-10 16:27] palemieux commented on #261
It is a change to conformance language, and approval from the commenter was not provided.

[2017-05-10 16:29] skynavga commented on #261
No approval from commenter is required to close an issue. If you have a substantive comment, then feel free to re-open; otherwise, I am closing and will continue to re-close this non PR fix.

[2017-05-10 19:17] r12a commented on #253
lgtm, thanks

[2017-05-10 19:23] r12a commented on #250
I'm saying that it seems to me that the whole section ignores the case where the ruby annotation is wider than the base characters (in terms of space, not NR vs NB). Thus `tts:rubyAlign` set to `spaceAround` would do what one expects with the example on the left below (where annotation is shorter than the base), ie. it would space the annotation out over the longer base; but the spec doesn't speci

[2017-05-10 19:38] #262 closed

[2017-05-10 21:07] dae-kim commented on #250
In this case, TTML2 should require that rubyAlign shall be "center".

In a subtitle context, we generally want to avoid altering base characters in any way for the sake of ruby.
Japanese subtitle authors severely limit the use of rubies to work around base characters. They do not insert whitespace -- they omit ruby altogether. This is similar to sacrificing subtitle accuracy to dialogue for the sa

[2017-05-10 21:19] dae-kim commented on #258
I don't believe you can and I don't see any need for it in a subtitle context.

[2017-05-10 22:53] dronca commented on #245
This may be a small and relatively pain-free model change from the spec perspective, it is a significant change for the TTML2 implementations that have been stood up as part of the TTML2 spec effort.  This request is too late to be considered for TTML2 and we recommend that it be deferred to TTML3.

[2017-05-11 03:22] skynavga commented on #245
My recommendation is to have the group decide to reject this proposal for the following reasons:

 * introduces new element vocabulary for no reason, when attributes can serve same purpose; a design principle of TTML being to minimize element count to the bare minimum, which is achieved with div, p, span, and br;

 * existing implementations of tts:ruby already in use in the field;

 * ARIB TTML e

[2017-05-11 10:59] r12a commented on #245
Ok.

[2017-05-11 10:59] #245 closed

[2017-05-11 12:01] r12a commented on #250
So, take the TTML equivalent markup to the following (i'm using html markup because it's easier and because it will display here).

これは<ruby><rb>昔</rb><rt>むかし</rt><rb>話</rb><rt>ばなし</rt></ruby>です。

ie. `これは<ruby><rb>昔</rb><rt>むかし</rt><rb>話</rb><rt>ばなし</rt></ruby>です。`

By default, `rubyOverhang` is set to allow, and `rubyOverHangClass` allows overlap of the surrounding characters, but presumably ove

[2017-05-11 14:51] skynavga commented on #268
CSS3 WM does not include 'auto' value.

[2017-05-11 14:56] skynavga commented on #263
[Meeting 05/11/17] Group resolves to close without action and mark as works for me.

[2017-05-11 14:58] skynavga commented on #253
[Meeting 05/11/17] Group reviewed closure. No objection or further comment.

[2017-05-11 15:20] skynavga commented on #141
[Meeting 05/11/17] @nigelmegitt to produce PR that marks Annex M entry as P (partial) and adds note that authorial requirements are out of scope in this context, i.e., this is not a syntactic requirement but a usage requirement.

[2017-05-11 15:25] skynavga commented on #128
@skynavga please review and comment on this

[2017-05-11 15:36] nigelmegitt commented on #189
Meeting 2017-05-11: Agreed to add examples for backgrounds on p and span with rounded borders, assigned to Nigel.

[2017-05-11 15:37] skynavga commented on #189
Note that example images for span and p should be the first and last images in the first comment above.

[2017-05-11 19:09] skynavga commented on #30
Address any outstanding comments under the following, which are hereby incorporated into this issue:

 - [ ] #27 interpreting pixel measure
 - [ ] #162 need parameter to express storage aspect ratio

[2017-05-11 19:11] skynavga commented on #27
Incorporate resolution of these comments into #30 and closing this issue.

[2017-05-11 19:11] #27 closed

[2017-05-11 19:11] skynavga commented on #162
Incorporate resolution of these comments into #30 and closing this issue.

[2017-05-11 19:11] #162 closed

[2017-05-11 20:46] palemieux commented on #271
@skynavga I see that the PR changed significantly from #301. Please confirm with @aphillips that he is ok with the disposition.

[2017-05-11 21:09] dae-kim commented on #250
In your first example, the TTML rendering will mimic the display in your comment.
But that is not how a subtitle author would format that text. A subtitle author would group the annotations and base together:

`これは<ruby><rb>昔話</rb><rt>むかしばなし</rt></ruby>です。`

They would also explicitly set rubyOverhang to "overlap" or "always":

![ruby001](https://cloud.githubusercontent.com/assets/15376166/2597184

[2017-05-13 04:02] skynavga commented on #266
Resolved by #269.

[2017-05-13 04:02] #266 closed

[2017-05-13 04:26] skynavga commented on #161
Resolved in 900a48d68a8760a96b4607caa6fdaa1c0c2833b9.

[2017-05-13 04:26] #161 closed

[2017-05-13 20:14] skynavga commented on #101
Incorporate resolution of these comments into #150 and closing this issue.

[2017-05-13 20:14] #101 closed

[2017-05-13 20:14] skynavga commented on #150
Address any outstanding comments under the following, which are hereby incorporated into this issue:

 - [ ] #101 span background height

[2017-05-13 20:38] skynavga commented on #125
Already addressed by prior addition of ttp:mediaOffset.

[2017-05-13 20:42] skynavga commented on #131
Incorporate resolution of these comments into #150 and closing this issue.

[2017-05-13 20:42] #131 closed

[2017-05-14 19:22] nigelmegitt commented on #128
@palemieux as discussed, yes, I believe this still needs to be addressed so that there are clear usable patterns for applying attributes based on `condition` that we can list by example. Using the `set` element looks like the cleanest way to me. From my recollection we discussed three possible approaches:

### Possible approaches

#### 1. Chained referential styling

This is where conditionally re

[2017-05-14 19:38] nigelmegitt commented on #125
Reopening: we have not added `ttp:mediaOffset` and when discussing it on multiple occasions I have raised an objection in advance to adding it on the grounds that it will create confusion where TTML documents are used or referenced in wrapper formats that already provide this functionality, such as ISOBMFF, and add a further unwelcome degree of complexity when processing time expressions in TTML.

[2017-05-14 19:41] nigelmegitt commented on #263
Reopening and requesting confirmation from the issue raiser @r12a that the question has now been answered satisfactorily.

[2017-05-14 19:42] nigelmegitt commented on #268
Reopening and requesting confirmation from the issue raiser @aphillips that the responses provided answer the question satisfactorily.

[2017-05-14 19:47] nigelmegitt commented on #261
Sorry @skynavga I'm overruling you here: this is a normative semantic change that directly addresses a horizontal review comment. Reopening and requesting feedback from the issue raiser @r12a on whether or not 49ee8b4, i.e. the addition of punctuationMarks for Chinese/Korean base text does indeed resolve the issue to his satisfaction.

[2017-05-14 19:52] nigelmegitt commented on #203
I've just checked this and realise that there are unresolved comments following the merge of #273, which can be found at https://github.com/w3c/ttml2/pull/273#issuecomment-299896141 so there's a little more work to do on this please @dae-kim .

[2017-05-14 20:40] skynavga commented on #125
ttp:mediaOffset is already present in the spec, and has been for at least 6 months or more

[2017-05-14 20:42] skynavga commented on #125
Closing this again. You can file a new issue to remove ttp:mediaOffset if needed. BTW, I completely disagree with your claim about causing confusion if wrapper formats support this information. There are literally dozens of features in TTML you could make this claim against, and it is and has never been sufficient reason to not support internal specification of information.

[2017-05-14 20:42] #125 closed

[2017-05-14 20:44] skynavga commented on #263
It is not necessary that the issue remain open for the original commenter to make a comment to that effect.

[2017-05-14 20:44] skynavga commented on #268
It is not necessary for the issue to remain open for the initial commenter to comment.

[2017-05-15 06:00] palemieux commented on #128
When are `condition` expressions evaluated? At time of parsing or time of rendering or something else?

[2017-05-15 10:19] nigelmegitt commented on #128
Evaluation time is currently undefined as far as I can tell.

[2017-05-15 10:54] skynavga commented on #128
On Mon, May 15, 2017 at 4:19 AM, Nigel Megitt <notifications@github.com>
wrote:

Yes, this needs to be defined, however, it may not be possible to do in a
precise manner. Basically, the design is predicated on determining whether
the semantics of a conditionalized element is ignored or not. So evaluation
can theoretically be delayed until the time when those semantics are
relevant, so what I know

[2017-05-15 11:12] nigelmegitt commented on #128
not be re-evaluated every time its semantics need to be used;

This is too limiting. For responsive scenarios such as windows that can be resized, that would modify the input data for the equivalent of media queries, so it must be an available option to re-evaluate based on changing input data.

[2017-05-15 12:05] skynavga commented on #261
(1) there is no substantive comment left unaddressed; (2) lazy consensus means silence is consent; (3) this *is* a trivial change, much more trivial than the trivial change we presented to the director regarding changing the (already deployed) semantics of marker mode default value in TTML1 2ed; (4) 3 days of passe;

please do not re-open without a substantive comment

[2017-05-15 12:07] skynavga commented on #128
On Mon, May 15, 2017 at 5:12 AM, Nigel Megitt <notifications@github.com>
wrote:

ok, that is a reasonable position

[2017-05-15 12:37] skynavga commented on #271
PR #307 merged. No outstanding substantive comments, so closing.

[2017-05-15 13:20] r12a commented on #261
Chaps, actually, in general, silence probably means that we just haven't had time to return to this issue yet (i'm out of the office today and last Friday, and was busy much of Thursday), since we're trying to track the changes as best we can, but have other stuff getting in the way.  However, it may help to know that we also track these issues ourselves, so whether you have or have not closed thi

[2017-05-15 13:35] skynavga commented on #261
On Mon, May 15, 2017 at 7:20 AM, r12a <notifications@github.com> wrote:

That's fine with me. If you should have a follow-on comment of a
technical/editorial nature, please re-open the issue.

[2017-05-15 14:29] nigelmegitt commented on #261
It is very much **not** okay with me to close this. It's fine to mark it with some kind of status to show "we think we're done editing this" but the issue being open/closed is a group tool not just an editing tool.

Since this issue was raised by someone outside the group and it constitutes an item of wide review feedback that means that we have a process requirement both to dispose of that and to

[2017-05-15 14:47] skynavga commented on #261
We have a conflict here. You think issues in github constitute a group tool, and I think the constitute an editor's tool. Again, there is no open comment on this issue, and there is no requirement to keep this open until the group accepts this result. So I am closing again. If you want to discuss this issue at the next call, then fine, we can do that. If there is a substantive reason to keep it op

[2017-05-15 15:57] nigelmegitt commented on #261
The way I see it, continually discarding the view of the Chair and reopening the issue is creating noise and delay unnecessarily. Please move on with Editing work on other issues if you are done here @skynavga . I am assigning this to me to track disposition response.

[2017-05-15 18:53] nigelmegitt commented on #125
I am puzzled as to why on one particular browser instance I was not seeing `ttp:mediaOffset` - on another I can now see that it is present. I will raise a separate issue.

[2017-05-15 18:56] nigelmegitt commented on #263
Reopening and moved to a non-Editor's milestone.

[2017-05-15 18:56] nigelmegitt commented on #268
Reopening and moving to a non-Editor's milestone.

[2017-05-16 01:14] dronca commented on #195
We are concerned that using TTML for AD will make TTML more complicated, and will also place a burden on AD implementations, which would start with the very large and complex TTML specification, most of which is not relevant to AD (for example, what do regions, spans, and referential styles mean for AD).  We could envision a workable compromise that would be an IMSC equivalent standard for AD (IMD

[2017-05-16 13:06] r12a commented on #250
But these are the default settings for TTML, so shouldn't the defaults be changed then?, to avoid the content authors have to constantly make explicit changes (and by the look of it, for individual ruby instances). I believe it's common for phonetic annotations to be longer than the base text.

The solution you describe for the first example handles the annotation as if it were group ruby. This me

[2017-05-16 16:53] skynavga commented on #304
Fixed and merged from #312.

[2017-05-16 16:53] #304 closed

[2017-05-16 16:54] skynavga commented on #203
Fixed (outstanding comments) and merged from #312.

[2017-05-16 16:54] #203 closed

[2017-05-16 17:15] #178 closed

[2017-05-16 18:00] skynavga commented on #130
Other than a minor improvement to R502 (498e7c1e46416026ae3a96156b07202587318cae), no other action is required at this time. If and when audio styling is added, we will also want to update R504.

[2017-05-16 18:00] #130 closed

[2017-05-16 18:01] skynavga commented on #189
@nigelmegitt what is your schedule for a PR to add examples?

[2017-05-16 18:09] skynavga commented on #191
So, the facts are as follows:

1. TTML is neutral to the concrete representation of a document instance, and merely recommends XML (in the absence of other requirements); consequently, we can't say for certain that XML space normalization has occurred on attribute values prior to creating their counterpart in the reduced infoset;
2. even if XML is used, one can escape whitespace to avoid XML norma

[2017-05-16 18:21] skynavga commented on #219
Resolved in #308 merge.

[2017-05-16 18:21] #219 closed

[2017-05-16 18:54] dae-kim commented on #250
The problem here is, your definition of "normal" comes from a CSS/JLReq point of view.
While we do our best to incorporate guidelines from CSS/JLReq, it is clear subtitles were never considered.

This disconnect is highlighted by your pinyin case. A subtitle would never be able to fit that much base text into one subtitle event. So that string of text would have to be broken into multiple events.

[2017-05-16 18:56] dae-kim commented on #258
Suggest we close since there is no action to be taken.
@r12a thought?

[2017-05-16 18:57] dae-kim commented on #248
The only actionable item here is to suggest we add a note encouraging authors to use 亜(あ)麻(ま)仁(に)
instead of 亜麻仁(あまに)

@r12a thoughts?

[2017-05-16 18:58] dae-kim commented on #274
@r12a @skynavga any opinions on recommending that Latin annotations should be "center"?
Or any insights into technical guidelines around pinyin?

[2017-05-16 18:58] dae-kim commented on #251
Suggest we resolve with https://github.com/w3c/ttml2/issues/274

[2017-05-16 19:00] dae-kim commented on #255
@r12a can you clarify which "user" you were referring to? The author or the processor?

[2017-05-16 21:31] skynavga commented on #248
I would oppose adding the note you suggest in the previous comment. My position on this matter can be basically summarized as follows: RTFM applies; author expectations are too diverse to generalize, so it is inadvisable to assume a particular mis-reading (of the spec). If authors want a particular behavior, then they should not use auto, they should use the value needed to obtain the value they r

[2017-05-16 21:46] skynavga commented on #274
I think it is not needed, and makes the specification and implementation more complex. As it is, the algorithm works for all scripts; making it script dependent is too complex. If an author wants a different default, then all they need to do is change the default using the <initial/> element; or if they want to make sure to use `center` on some ruby, they can merely specify tts:rubyAlign.

My sugg

[2017-05-16 21:48] palemieux commented on #274
@skynavga How does this "WORKS FOR ME" in light of your comment https://github.com/w3c/ttml2/issues/274#issuecomment-284541225

[2017-05-16 22:24] skynavga commented on #236
Merge editorial clarifications/elaborations from PR #314.

[2017-05-16 22:26] aphillips commented on #271
PR#307 appears to address a different issue. This editorial comment was about the quoted section, which introduces the `metadata` element and then goes on to show several examples that contain natural language text (_Chapter 6 – Sherlock Holmes Gives a Demonstration_) without the use of `xml:lang`.

While cluttering up all of your examples with all of the possible metadata values is not helpful to

[2017-05-16 22:31] skynavga commented on #271
Actually, no. #307 addresses the cited issue, and does so in the correct location, namely, under the section on xml:lang. There is no need to clutter the examples of metadata in section 14 by introducing xml:lang usage in that context. I expect the WG will conclude this matter at the upcoming telecon on Thursday, which you are welcome to join.

[2017-05-17 04:19] palemieux commented on #125
@skynavga Multiple members have consistently objected to `ttp:mediaOffset` (as recently as December 2016), so the editor's apparent unilateral decision to add it 6 months ago is not a particularly meaningful data point. At the very least, this should be added as a feature that can be prohibited by profiles.

[2017-05-17 04:24] skynavga commented on #125
Sure, we can add a feature that facilitates profiling.

[2017-05-17 04:34] palemieux opened #315 "LWSP in attribute and value expressions?"
I apparently missed the three day window on https://github.com/w3c/ttml2/pull/310.

As I understand it, and please correct me if I am wrong, expressions of the form `rgba(        233,    1,0          )` are now permitted.

If so, this will require TTML1 implementations to be revised and tested, without stated benefits as far as I can tell.

[2017-05-17 04:41] skynavga commented on #315
It turns out that XSL-FO and CSS2 permits this. Furthermore, this is consistent with behavior regarding LWSP appearing around delimiters that goes back to the original CSS2 YACC grammar. However, I'm open to having a discussion about this point.

[2017-05-17 14:43] palemieux commented on #315
To minimize impact on implementations and divergence from TTML1, I would not introduce LWSP if another delimiter is already present between _adjacent non-terminal components_.

The TTML1 test file `FontFamily009.ttml` is the first TTML document I have seen with extra spaces added where another delimiter is already present between adjacent non-terminal components -- it is not clear if the space was

[2017-05-17 15:19] skynavga commented on #186
Merged from #311 and closing.

[2017-05-17 15:19] #186 closed

[2017-05-17 15:53] skynavga opened #316 "Review deprecations before finalizing WR."

[2017-05-17 16:27] skynavga commented on #105
Address reviewer comments and merge from #309.

[2017-05-17 16:27] #105 closed

[2017-05-17 18:55] skynavga commented on #140
@nigelmegitt regarding https://github.com/w3c/ttml2/issues/140#issuecomment-267657257, this was (originally) about using ipd/bpd on `<image>` in an inline context, and not about using ipd/bpd on `<span>`. However, at this point we have already specified the ability to use tts:extent on `<image>` in both block and inline contexts, so we have already satisfied the original request and can close this

[2017-05-17 19:11] #141 closed

[2017-05-17 19:12] skynavga commented on #141
Merge from #318 closes this issue.

[2017-05-17 19:14] skynavga commented on #138
Do not have definite input on this as a market requirement, so closing and labeling for ttml.next consideration.

[2017-05-17 20:33] palemieux opened #319 "Remove support for tts:position on <tt>?"
What is the use case for tts:position on `<tt>`? The origin of the root container on a related media project will be determined by an external container/context.

Profiles could always prohibit tts:position on `<tt>`, but might as well not include it unless there is a need for it.

[2017-05-17 21:02] skynavga commented on #319
It allows the author to provide a indicated positioning preference, which the document processing context can consider as a desired position, which it can then use or override as appropriate. We could define a feature designation for this usage if needed.

[2017-05-17 21:04] palemieux commented on #319
Unless a user explicitly requested this feature, I recommend removing it in the spirit of reducing the number of test cases and the potential for issues.

[2017-05-17 21:09] skynavga commented on #319
At this point, it is already in the spec, so it increases the editorial burden at this time. It would be better to cull at end of CR if there aren't two implementations.

[2017-05-17 21:13] palemieux commented on #319
Culling it now is trivial. Remove the following:

`tts:position = xsd:string` from `XML Representation – Element Information Item: tt`

and

`If the tts:position attribute is specified on the tt element, then it must adhere to 10.2.33 tts:position, in which case it specifies the position of the root container region relative to a reference positioning rectangle.`

and

`tts:position` from `Except

[2017-05-17 21:51] palemieux opened #320 "The terms [related media object region target] and [viewport target] defined but not referenced."
Suggest removing unless needed

[2017-05-18 13:54] nigelmegitt commented on #236
Reopening and moving to Group's WR action required list - @r12a please could you review the pull request and check that the editorial wording added does answer your question?

[2017-05-18 14:01] palemieux commented on #128
If `condition` is evaluated at arbitrary times, then 2(a) above increases processing complexity since referential styling resolution has to be deferred until `condition` is evaluated/changes.

What about simply using `set` on content elements, potentially using inheritance?

[2017-05-18 15:08] skynavga commented on #265
I generally support adding isolate support, but I do agree it will require implementation and testing work.

[2017-05-18 15:42] nigelmegitt commented on #96
Meeting 2017-05-18: Discussion about timezone addition to time expressions; majority view against doing so since UTC can be used instead. I take action to propose wording to clarify the intended meaning of `clockMode="local"` as being undefined with respect to UTC and intended to be "whatever time this is where you are".

[2017-05-18 16:25] r12a commented on #248
The main point of this issue resolves around my expectation that the chance of the number of characters in the annotation and the base being the same is somewhere between rarely to very rarely. If `rubyAlign` is set to `auto`, the `withBase` value kicks in only in those circumstances, and it will produce a different alignment for the annotation to that which is more commonly used (ie. `spaceAround

[2017-05-18 16:26] skynavga commented on #128
Some preliminary comments, without reviewing the above:

* @condition may be (re)evaluated at any time a dependent parameter changes, which, since some parameters derive from run-time state, means it may be re-evaluated at run-time;

* the current spec text says that the *semantics* of an element are ignored when @condition evaluates to false; it does not say that the element is not parse or not s

[2017-05-18 16:40] skynavga commented on #248
On Thu, May 18, 2017 at 10:25 AM, r12a <notifications@github.com> wrote:

One of the key drivers for ruby functionality in TTML2 has been support for
the Lambda CAP format, which specifies exactly the behavior presently
defined for 'auto'. There are a number of early implementations of these
new TTML2 features already deployed in the Japanese market. During a number
of reviews of this feature and

[2017-05-18 16:47] nigelmegitt commented on #128
I'm not sure yet where I stand on breaking/not breaking chains of referential styles, but it seems intuitive to me to expect conditionally excluded style to break the chain. Otherwise a larger group of styles might all need the same condition to be applied.

[2017-05-18 16:53] skynavga commented on #128
@nigelmegitt or the author could merely collect into the conditionalized style all style attribute they think should be ignored (while retaining the chain overall);

[2017-05-19 08:42] nigelmegitt commented on #128
@skynavga sorry, I don't follow you - please could you elaborate on https://github.com/w3c/ttml2/issues/128#issuecomment-302469430 ? Are you saying that there should be an equivalent of `tts:someStyleAttribute="fromChain"` which could be put into a style element to explicitly cause chain breakage for that single style attribute in the event that the condition on the style element containing it res

[2017-05-19 09:50] nigelmegitt commented on #319
This falls into an interesting class of information: stuff that relates the TTML document instance's contents to a presentation context; in general there may be multiple presentation contexts that apply for any one document instance, but only a single attribute value operates on the root element. This is the same class that mediaOffset falls in - something that may be true once but may not be true

[2017-05-19 10:02] nigelmegitt commented on #195
@dronca I would likewise envisage and support an AD profile; it is too early to consider that though - we cannot profile something that does not exist, so the primary goal now for TTML2 is to include the vocabulary so that such a profile can be created later. I would also agree that we should profile AD features out of IMSC2 since they are not appropriate there.

We cannot have AD implementations

[2017-05-19 12:33] nigelmegitt commented on #140
@skynavga I'm still not clear from the current ED what the image presentation semantic is though:

§9.1.5 image includes:

And §10.2.16 tts:extent says:

So we see that the width and height of the image are _overridden_ or determined by setting `tts:extent` and that results in a computed extent value, but we do not define what the presentation _behaviour_ should be when the computed extent does no

[2017-05-19 13:43] nigelmegitt opened #323 "Remove ttp:mediaOffset."
See #125 for background. Raising this to capture my thoughts on mediaOffset that I have previously discussed during face to face meetings.

There are multiple problems with `ttp:mediaOffset` as currently specified:

### Problems

#### Multiple presentation contexts

`ttp:mediaOffset` appears to require that exactly one related media object is relevant when deciding what media offset to apply at pr

[2017-05-19 14:10] skynavga commented on #128
I am saying that if you have

[code]

then ``tts:color ... more styles ...`` is ignored, but that any the chain remains active, i.e., that styles contributed from ``style="chain"`` are not ignored.

The context where this came up was in supporting IMSC1's ``tts:forcedDisplay``, where it is necessary to insert a style as follows at the front of an existing chain:

[code]

where ``chain`` references

[2017-05-19 14:13] skynavga commented on #319
On Fri, May 19, 2017 at 3:50 AM, Nigel Megitt <notifications@github.com>
wrote:

Thanks for reminding me of the use case that drove adding this.

[2017-05-19 14:26] palemieux commented on #319
Positioning of the root container on the related media object should be left to applications and/or profiles, since they vary so much, so I still think this feature ought to be removed from TTML2.

[2017-05-19 14:33] skynavga commented on #319
Since we already have language (in a note) in TTML1 and TTML2 as follows

<https://w3c.github.io/ttml2/spec/ttml2.html#terms-related-media-object>
exists,
then it is recommended that the document processing context
<https://w3c.github.io/ttml2/spec/ttml2.html#terms-document-processing-context>
determine
that:

   -

   ...
   -

   the origin of the root container region
   <https://w3c.github.io/

[2017-05-19 14:34] palemieux commented on #195
@nigelmegitt When will the meeting be scheduled to review this proposal in depth?

[2017-05-19 14:35] skynavga commented on #319
Since both TTML1 and TTML2 already state

I am open to dropping it.

[2017-05-19 14:35] nigelmegitt commented on #128
@skynavga okay, then what happens in this case:

[code]

In other words does the exclusion of a named style attribute cause all similarly named style attributes to be excluded or just the attribute defined in a context where the condition evaluates to `false`?

[2017-05-19 14:37] skynavga commented on #128
yellow

[2017-05-19 14:44] nigelmegitt commented on #128
Thanks, I understand, so the proposal is that it is impossible to break the chain, only to conditionally set some specified style attributes when `condition` evaluates to `true`. Makes some kind of sense I think. Now what about this:

[code]

in this example the conditional style defines _no_ style attributes, so the assumption might be that the only thing the condition affects is the chain. But i

[2017-05-19 14:59] skynavga commented on #128
background color i black, from s3, and foreground color is lime, from s3->s2->s1

s2 doesn't specify any styles directly so the condition is vacuous in this case

[2017-05-19 15:38] nigelmegitt commented on #128
Okay that's consistent, and should be covered by the already requested clarification of what the condition semantic includes (and excludes), possibly with an informative note to say that there is no way to break style chaining using `condition`.

Additionally, now that we have a bit more clarity about what is intended, we should also check that this approach does not exclude any use cases that we

[2017-05-19 15:57] nigelmegitt commented on #271
@aphillips does https://github.com/w3c/ttml2/issues/271#issuecomment-301934366 make sense to you?

Reopening and moving to group milestone.

[2017-05-19 16:16] nigelmegitt commented on #191
@skynavga this is a bit surprising. Firstly, we do require attribute value normalisation when constructing the XML infoset, independently of the concrete representation of the document instance, and secondly you seem not to have addressed the third proposal at the end of https://github.com/w3c/ttml2/issues/191#issue-180081771:

* Add an additional requirement to de-escape escaped whitespace charac

[2017-05-19 16:18] aphillips commented on #271
@nigelmegitt It does and it doesn't. It does from the point of view that I agree with the current text, etc. in the section on `xml:lang`. It doesn't from the point of view that I18N prefers to see examples showing `xml:lang`. Further the section on `xml:lang` illustrates the use of that attribute when there are multiple languages preset. However, language metadata is generally necessary even when

[2017-05-19 16:23] nigelmegitt commented on #271
Thanks @aphillips in that case I will propose a pull request to add such an example in §1.2 Document Example rather than "cluttering" other examples in the spec.

[2017-05-19 16:48] palemieux commented on #315
Furthermore, TTML1 explicitly states in 8.3 that _in the syntax representations defined in this section, no linear whitespace (LWSP) is implied or permitted between tokens unless explicitly specified_

TTML2 should do the same unless the absence of LWSP has proven an obstacle to the use of TTML, something I have seen no evidence of.

[2017-05-19 16:53] skynavga commented on #315
@palemieux please review the language found in the preambles of TTML2 8.3, 9.3, 10.3, and 13.3; the restriction in these sections

[2017-05-19 17:00] skynavga commented on #191
@nigelmegitt your proposal contradicts the algorithm specified in https://www.w3.org/TR/REC-xml/#AVNormalize

[2017-05-21 16:08] tairt commented on #315
Although there are the benefit to get better compatibility with other specs, it could make (as @palemieux commented) a document that uses an otherwise unchanged feature of TTML1 non-conformant against TTML1. A TTML processor would possibly fail processing a document where whitespace are added around "non space" separator. If for example `@tts:color` is set to `rgb(255 ,255,255)` this should also f

[2017-05-21 18:00] skynavga commented on #315
My position is that we should allow a less restricted syntax for whitespace in **all** COMMA separated lists in TTML2. Let's review what uses a comma separated list:

**TTML1**

* ``@tts:color`` - in ``rgb()`` and ``rgba()`` expressions
* ``@tts:fontFamily``

In both these cases, it can be argued that lwsp is permitted, based on XSL-FO and CSS2 syntax; however, there is scant evidence that impleme

[2017-05-21 19:24] skynavga commented on #323
Regarding **multiple presentation contexts**, TTML does not recognize the notion of multiple media objects or multiple presentation contexts in relationship to a single TTML document instance. Any such association is outside the scope of TTML.

Regarding **duplication of functionality specified elsewhere**, TTML does not recognize functionality external to TTML except in the context of a *higher l

[2017-05-21 20:25] skynavga commented on #140
Add note in c14d76a203e03a582cb232a7a1478151707d4759 regarding anamorphic scaling.

[2017-05-21 20:29] #169 closed

[2017-05-21 22:54] skynavga commented on #96
Add clarifying notes in c36dffb71744a489372fe6a86ab303dc2f258a5d, which closes the outstanding comments.

[2017-05-21 22:54] #96 closed

[2017-05-22 03:14] skynavga commented on #135
Labeling this for ttml.next and closing without further action. If someone wishes to post a PR that adds clarifying material, then please do so and reopen this issue.

[2017-05-22 03:16] skynavga commented on #156
Labeling this for ttml.next and closing. If someone wishes to post a PR on this for inclusion in the upcoming WR, then please do so and reopen this issue.

[2017-05-22 08:19] nigelmegitt commented on #191
OK, I do not understand which part of a pre-processing algorithm can be contradictory to a step that comes after it, but on further reflection, most of what I am proposing here is about implementation optimisation, an area we don't need to define normatively.

Adding a note under B.3 as you suggest seems like the best way to go. I'll prepare a pull request.

[2017-05-22 08:25] nigelmegitt commented on #315
+1

[2017-05-22 08:27] nigelmegitt commented on #315
This is somewhat related to #191 - one of the proposals I made there is to add feature designators for the support/non-support in documents/processors of additional lwsp. I'm not really delighted by that bifurcation but it would at least allow profiles and processors to be clear about what they do and do not deal with.

[2017-05-22 13:59] tairt commented on #315
For sure it is not a question with a straight forward answer. To be more consistent is always good. To break existing implementations may be worse. To have an additional "whitespace" feature as @nigelmegitt suggests maybe a way out (depending on what exactly goes into it).

In any case the use of whitespace in comma separated value lists for attributes need to be clarified for TTML1.

@skynavga @n

[2017-05-22 14:19] palemieux commented on #315
TTML2 is not broken without LWSP around delimiters AFAIK, so I do not see a clear motivation to add them. The downside is significant amount of additional testing and a bifurcation with TTML1.

[2017-05-22 16:09] skynavga commented on #163
At present, TTML1 (and TTML2) effectively defer to XSL-FO 1.0 regarding the semantics of inline geometries. As there is no concrete specification of the problem or what clarification may be needed, I am closing this as works for me. If someone wishes to post a PR on this issue, then please reopen.

[2017-05-22 16:09] #163 closed

[2017-05-22 16:17] nigelmegitt commented on #163
The use case that this issue was there to try to solve was to allow document authors to specify that the background areas of adjacent lines should meet. Since it is impossible to calculate a `tts:padding` value that extends the area in which the background is painted on a span, because the content size in the block progression direction is unknown, this issue was raised to define the content size

[2017-05-22 16:26] skynavga commented on #163
If anything, this is subsumed by #150. I prefer leaving this closed as either works for me or a duplicate of #150.

[2017-05-22 16:34] skynavga commented on #163
The first part of the necessary support was added in #297, where we redefined the semantics of bpd/ipd. The second part is still TBD for #150, which is adding one or more new keywords that can apply to bpd when applied to an inline (span). So, as far as I can tell, this issue (#163) is redundant at this point.

[2017-05-22 17:39] skynavga commented on #137
Absent specific market requirements, and absent a concrete proposal, I am marking this for ttml.next and closing. If someone wishes to submit a PR for TTML2, then you may re-open.

[2017-05-22 17:40] nigelmegitt commented on #158
This has been resolved with an informative comment however my expectation here from https://github.com/w3c/ttml1/issues/210#issuecomment-212449373 was that it would be resolved with a normative provision.

[2017-05-22 17:45] skynavga commented on #158
I did (do) not share that expectation, particularly if you are suggesting that we declare the appearance of 60 in other contexts as prohibited, since that would not be backward compatible with TTML1 in this regard. The informative note is sufficient notice to allow a verifier to conclude that a warning can be issued if it does appear. I suggest we discuss further on WG telecon.

[2017-05-22 17:57] nigelmegitt commented on #158
Well it was your note @skynavga that gave me the impression (which I was happy with) that we would have a normative provision in TTML2 to match an informative one in TTML1. I understand the point about backward compatibility. At the very least having a `60` seconds value in any scenario other than `ttp:timebase="clock" ttp:clockMode="utc"` should be deprecated.

[2017-05-22 18:21] skynavga commented on #158
Address additional comments in f88869e84d157744f6d28ffa26affa6dbe6b6ad9 as reported by @nigelmegitt.

[2017-05-22 18:21] #158 closed

[2017-05-22 18:26] skynavga commented on #136
Addressed in c36dffb71744a489372fe6a86ab303dc2f258a5d; closing with no further action required.

[2017-05-22 18:26] #136 closed

[2017-05-22 19:03] #265 closed

[2017-05-22 19:10] skynavga commented on #134
Regarding the previous comment, TTML does not make **any** use of the CSS box model per se. Rather, it makes normative reference to XSL-FO's area model, which in some cases, are based in part on CSS semantics.

Next, I believe it is impractical (and undesirable) to either adopt proposed resolutions 1 or 2 listed above. I would not object to improving either the example code or rendition used with

[2017-05-22 19:41] #155 closed

[2017-05-22 23:56] skynavga commented on #271
There is no need to add one to the example in §1.2, we now have one in the example under §8.2.8. What would it add that is not already covered under §8.2.8? We most certainly are not going to add xml:lang to every example that uses metadata, even when it is a natural language value.

[2017-05-23 08:44] nigelmegitt commented on #271
@skynavga my proposal will address https://github.com/w3c/ttml2/issues/271#issuecomment-302747180 by including `xml:lang="en"` on _at least one_ of the examples. Nobody is proposing adding `xml:lang` to every example.

[2017-05-24 04:31] palemieux opened #329 "The value tts:extent="contain" is not defined when applied to <tt>."
Section 10.2.16 specifies: _if the property applies to the tt element, then `contain` is interpreted as specified in H Root Container Region Semantics_

H Root Container Region Semantics does not however defined the semantics of `contain`

[2017-05-24 05:35] palemieux commented on #133
Can you provide an example of the problem this is solving?

[2017-05-24 12:56] tairt commented on #315
Regarding the use of spaces in `tts:fontFamily`: If you take the following text from Section 8.2 in TTML...

...I can see how you may come to the conclusion that if other delimiters are used (e.g. the COMMA) then spaces are not allowed (because they are neither required nor explicitly allowed).

Unfortunately the TTML1 spec fells short here and is not unambiguous. But regardless of the "legal" dis

[2017-05-24 14:42] nigelmegitt commented on #315
Thanks @tairt for the additional data points. I'm beginning to feel that there are enough examples of spaces around commas in `tts:fontFamily` that we cannot now prohibit them in TTML1 or TTML2.

How about this proposal:

* in TTML1 we add an informative note saying that both interpretations exist, and
* in TTML2 we explicitly permit spaces around list delimiters.

?

[2017-05-24 15:01] palemieux commented on #315
Re: TTML1, I see two options:

- forbid LWSP around commas in document (SHALL NOT be present), but recommend that processors accept them (SHOULD accept them). The idea is encourage the authoring of most compatible documents, but encourage processors to be tolerant given the existence of documents with LWSP in them

- explicitly permit LWSP around commas of tts:fontFamily components *only*, and rec

[2017-05-24 15:02] palemieux commented on #315
Do you mean _LWSP around commas of tts:fontFamily_ only, or something more?

[2017-05-24 15:37] nigelmegitt commented on #315
My preference would be a single rule applicable across all style attributes, and possibly parameter attributes if applicable, but I could accept a per-attribute restriction if there's a good reason for it.

[2017-05-24 15:40] palemieux commented on #315
The reason is to avoid burdening implementers and creating confusion by introducing new requirements that do not solve an actual interoperability and/or use case.

The absence of LSWP between rgba components is not a documented problem AFAIK.

[2017-05-24 15:49] nigelmegitt commented on #315
The requirement for no LWSP between rgba components is an interoperability issue with CSS.

[CSS3 Color Module Level 3](https://www.w3.org/TR/css3-color/#rgb-color) specifically permits spaces:

It is a burden on document authors used to CSS to have to learn a new extra restriction that, for example, may prevent CSS color values from being pasted into TTML color style attributes. I expect there ar

[2017-05-24 15:51] palemieux commented on #315
If compatibility with CSS is truly a requirement, then we have much bigger issues than LWSP since we will need to examine every new feature in that light.

Compatibility with CSS has not been an issue re: rgba values so far. I suggest we do not make it an issue now.

[2017-05-24 16:40] r12a commented on #271
This is related, and is part question, part tentative suggestion.

The `tt` element has to have an `xml:lang` attribute (which is great). But in examples where there is text in more than one language, I have a question.

If TTML is displayed in a browser, and if a font isn't explicitly specified (or the font specified doesn't have glyphs for the characters displayed), will the browser pick a font

[2017-05-24 17:28] skynavga commented on #315
On Wed, May 24, 2017 at 6:56 AM, Andreas Tai <notifications@github.com>
wrote:

SKYNAV has always assumed whitespace is permitted around COMMA in
tts:fontFamily, which is born out by at least four implementations and
numerous test files. However, as I reported previously, we did not make
that assumption about tts:color, even though in retrospect we see it is
permitted by the same grammar construct

[2017-05-24 17:32] skynavga commented on #315
On Wed, May 24, 2017 at 8:42 AM, Nigel Megitt <notifications@github.com>
wrote:

to *all*  COMMA and SEMICOLON separated lists, including, in particular
tts:color. As I have pointed out, we are going from two contexts of use in
TTML1 to nine contexts of use in TTML2 (as currently drafted). My position
is that we should have a consistent approach in TTML2 meaning that
whitespace be allowed around d

[2017-05-24 17:37] skynavga commented on #315
On Wed, May 24, 2017 at 9:01 AM, Pierre-Anthony Lemieux <
notifications@github.com> wrote:

TTML1 documents, i.e., would make conforming documents non-conforming

add note indicating both types of implementation exist; further, I would
suggest going further and recommend (in a note) that content processors
accept whitespace here even though the original specification was ambiguous

Presumably, rea

[2017-05-24 17:38] skynavga commented on #315
On Wed, May 24, 2017 at 9:49 AM, Nigel Megitt <notifications@github.com>
wrote:

Agreed

[2017-05-24 17:38] palemieux commented on #315
Let's be factual here: they are not the same.

CSS2 has an extensive grammar and lexical scanner specifications [Appendix D](https://www.w3.org/TR/REC-CSS2/grammar.html), there is no equivalent in TTML1.

They are perhaps similar.

[2017-05-24 17:54] skynavga commented on #271
On Wed, May 24, 2017 at 10:40 AM, r12a <notifications@github.com> wrote:

I guess you mean with the TTML presentation processor pick a font itself.
The answer lies in a TBD portion of the TTML2 spec [1], which I intend to
fill out based on language in XSL-FO, CSS2, and CSS3 Fonts.

[1]
https://w3c.github.io/ttml2/spec/ttml2.html#style-attribute-fontSelectionStrategy

As for TTML1, all one can say

[2017-05-24 17:58] skynavga commented on #315
On Wed, May 24, 2017 at 11:38 AM, Pierre-Anthony Lemieux <
notifications@github.com> wrote:

What is your point here? Of course they are not the same documents. But
TTML1 makes normative reference to XSL-FO and is clearly based on certain
sub-grammars of XSL-FO, which is in turn, based on sub-grammars of CSS2
1998. The syntax of rgb() expressions is one such sub-grammar.

So what? It makes direct

[2017-05-24 18:09] aphillips commented on #271
If an implementation uses only script for font fallback selection, the results will be disappointing for shared script text---notably the CCJK languages. For these, having language metadata is the best way of getting predictable results.

Although I've written some text analysis engines over the years, generally they operate on a different level (providing the language tag when it is not available

[2017-05-24 18:17] skynavga commented on #271
On Wed, May 24, 2017 at 12:09 PM, Addison Phillips <notifications@github.com

Agreed. But it may still be legible, though users may complain.

It depends on where text analysis is performed. Since browsers tend to not
support TTML rendering directly, it is often the case that TTML is rendered
(into SVG, PNG, etc) on a server prior to delivery. In such contexts, it
may be practical to infer missing

[2017-05-24 19:33] aphillips commented on #271
@skynavga I agree about the "may still be legible".

I think we're in violent agreement. My concern for the document format standard is that we provide the mechanism and suggest to implementations to pay attention to it.

[2017-05-24 20:11] skynavga commented on #271
On Wed, May 24, 2017 at 1:33 PM, Addison Phillips <notifications@github.com>
wrote:

OK, but we do define the authorial mechanism, xml:lang, which has been
around since DFXP/TTML1. And to restate the latter part of your comment is
sort of like saying: we define a car so that the gas pedal causes the car
to go; implementers are advised to provide a gas pedal.

[2017-05-24 21:38] skynavga opened #330 "Deprecate use of pixel units unless tts:extent on root element is in pixels."
At present, TTML1 allows a document to use pixel units when expressing ``<length>`` terms, even when the author has not defined the resolution of the document coordinate space by specifying a pixel based ``tts:extent`` on the ``<tt>`` element. I propose that this behavior be deprecated in TTML2, as it leads to potential interoperability problems when presenting TTML content. Note that a number of

[2017-05-24 21:41] palemieux commented on #330
`ttp:pixelAspectRatio` should be similarly deprecated when `tts:extent` is not specified in `px` on `tt`

[2017-05-24 21:41] skynavga opened #331 "Revert deprecation of ttp:profile on root element."
Upon further consideration, I believe my earlier suggestions to deprecate ``ttp:profile`` (in favor of ``ttp:processorProfiles``), which suggestion as already been implemented, may have been premature. I recommend the group consider restoring the use of ``ttp:profile`` which can serve as a shorthand for ``ttp:processorProfiles`` in the common case that only one processor profile applies.

[2017-05-24 21:44] skynavga commented on #330
OMG, we are in agreement!

[2017-05-24 22:39] mikedo commented on #331
I support this.

[2017-05-24 23:12] skynavga commented on #30
Closing with merge from #321.

[2017-05-24 23:12] #30 closed

[2017-05-24 23:19] #164 closed

[2017-05-24 23:45] #240 closed

[2017-05-24 23:54] skynavga commented on #238
OBE, since ``tts:textAlign`` no longer contains the language referenced in the initial comment of this issue. Therefore, I am closing this and marking works for me. However, since we still have a way to employ ``tts:textAlign`` with an inline block, namely, when ``tts:display="inlineBlock"``, then the initial comment may still apply in that case. If someone wants to propose an informative note by

[2017-05-25 00:01] palemieux commented on #238
This issue needs to be fixed. I plan to look at the new text and propose a PR as the case may be.

[2017-05-25 00:06] palemieux commented on #238
@nigelmegitt How do you expect multiRowAlign to work in TTML2?

[2017-05-25 00:16] skynavga commented on #238
Moving this out of Editor's WR List. When you post a PR, feel free to put it back.

[2017-05-25 00:43] dae-kim commented on #254
See https://github.com/w3c/ttml2/pull/332

[2017-05-25 11:39] nigelmegitt commented on #323
Thanks for the detailed responses @skynavga . It seems we have partial agreement but significant misalignment of understanding still. I'll take one more pass at explaining where I still disagree; then I guess we should discuss in a conversation rather than here, if I still have not convinced you.

Indeed! However it does not constrain the number of related presentation contexts at all. So we shoul

[2017-05-25 12:52] nigelmegitt commented on #140
Why is the anamorphic scaling semantic defined only in a note and not made normative? Probably this is something we should discuss. I was not expecting a non-normative resolution to this issue, so in my view it is not yet closed.

[2017-05-25 13:08] nigelmegitt commented on #135
Further, it would be feasible to create a WG Note describing the relationship between TTML and SMIL timing semantics; this does not need to be done as part of TTML2 necessarily.

[2017-05-25 13:10] nigelmegitt commented on #156
@skynavga I don't recall discussing this issue and agreeing to move to ttml.next - I would prefer to leave issues open and not done, and mop this up in an activity later on. It may be higher on someone else's priority list than yours.

[2017-05-25 13:16] nigelmegitt commented on #136
Noting that this was done without a pull request or review period, so members may wish to take a look as though this was "PR merged early".

[2017-05-25 13:25] nigelmegitt commented on #134
Closing in the absence of a PR and in the absence of discussion is inappropriate. Reopening. We have not yet assessed for each open issue if it should be moved to ttml.next, so removing that label.

[2017-05-25 13:53] skynavga commented on #156
Moving off editor's WR list due to lack of PR.

[2017-05-25 13:53] nigelmegitt commented on #271
@skynavga wrote:

So let's do that, which appears to resolve the issue to everyone's satisfaction.

[2017-05-25 13:54] skynavga commented on #134
Moving off Editor's WR list due to lack of PR.

[2017-05-25 13:56] nigelmegitt commented on #331
It is unclear to me that only one processor profile applying is in fact the common case; I rather think it is the other way around, that it is the unusual case.

Can we modify ttp:profile to allow a short code profile as per the registry, including combinatorial operators, and get the best of both worlds?

[2017-05-25 16:28] mikedo commented on #331
What would be the purpose of extending ttp:profile beyond TTML1 syntax AND defining a new TTML2 ttp:processorProfile? The entire purpose of keeping the former is for backwards compatibility to TTML1 document syntax.  If indeed both TTML1 syntax and TTML2 syntax for processor profiles can be disambiguated in such a new TTML2 ttp:profile, then we should remove ttp:processorProfiles from TTML2. I ass

[2017-05-25 16:29] skynavga commented on #140
Addressed in afead4c9a747493ec501dda3d54fe70e0aadb4dd.

[2017-05-25 16:29] #140 closed

[2017-05-25 16:34] skynavga commented on #331
On Thu, May 25, 2017 at 10:28 AM, Michael A Dolan <notifications@github.com>
wrote:

I made exactly this same point on today's call. I agree it would be
confusing and a generally bad idea to extend ttp:profile in this manner.
And further, any such extension would be orthogonal to considering whether
to revert the deprecation.

[2017-05-25 17:22] skynavga commented on #271
Addressed in e4ffcc6ac99b44838d3f33d0c2c0611f80627fe1. @aphillips please state whether this resolves your outstanding comments.

[2017-05-25 18:02] #225 closed

[2017-05-25 18:06] skynavga commented on #320
Addressed in 51b1e5948fa7075bab42345ed924d5d0d89e64ce.

[2017-05-25 18:06] #320 closed

[2017-05-25 20:29] skynavga commented on #200
In reviewing the current specification text, it appears that thhe above https://github.com/w3c/ttml2/issues/200#issuecomment-256666522 is not consistent with the following from [1]:

[1] https://w3c.github.io/ttml2/spec/ttml2.html#style-value-length

[2017-05-26 04:05] #217 closed

[2017-05-26 09:18] nigelmegitt commented on #331
OK, I'm persuaded! Let's not try to change the syntax of the `ttp:profile` attribute. I don't mind having it for backward compatibility as long as there is a precedence rule for TTML2 processors if processorProfiles is also defined.

[2017-05-26 14:48] nigelmegitt commented on #238
One option we have here is to add a note saying that nested elements with different `textAlign` values can be used to achieve complex line alignment, but in the case of `<span>`s the expected behaviour only occurs for specified line breaks; behaviour may vary when line breaks are inserted for example because `tts:wrapOption="wrap"`. And then call out that a consequence is not--always-perfect align

[2017-05-26 14:51] #230 closed

[2017-05-26 14:53] palemieux commented on #238
I am happy for IMSC2 to continue using ebutts:multiRowAlign .

[2017-05-26 14:55] nigelmegitt commented on #238
@palemieux my expectation is something along the lines of:

[code]

Would give a block of two lines left aligned to each other and centered horizontally in the region.

I would hope for a resolution that works when lines are broken automatically, but I think it would be acceptable albeit inferior if the solution only works with manual line breaks.

If there's a consistent way to do this in CSS the

[2017-05-26 14:57] nigelmegitt commented on #254
This was a horizontal review comment and should not have been closed without feedback on the disposition from the issue raiser. @r12a does the merged pull request #332 address the issue adequately?

[2017-05-26 14:58] palemieux commented on #238
@nigelmegitt The industry will have spent significant effort reaching interoperability around `ebutts:multiRowAlign`, I expect little interest to do it again with a different syntax, esp. if there is some figuring out to do.

[2017-05-26 15:06] nigelmegitt commented on #238
@palemieux That may be true however I do not think it is relevant at this stage. We should specify the semantics that we want in a way that is most compatible with XSL and CSS and allow industry the opportunity to feed back during WR and (based on implementations) in CR rather than second-guessing the response now.

If what we want is a better way to achieve the requirements of multiRowAlign then

[2017-05-26 15:07] palemieux commented on #238
Who will do this?

[2017-05-26 15:15] nigelmegitt commented on #238
As far as I am concerned it is already done, the only outstanding issue I can see is the one you raised about non-explicit line break handling.

[2017-05-26 15:18] skynavga commented on #238
@palemieux says

This issue and thread are relevant only for implementations of TTML that rely on the use of a CSS base formatter, yes? If that is so, then how does an implementation of ebutts:multiRowAlign that uses CSS obtain the desired results?

[2017-05-26 15:22] skynavga commented on #238
@nigelmegitt says

I'm a bit confused since this always applies, i.e., alignment adjustments always apply after line breaking decisions are made. You imply this may not be the case on what basis?

[2017-05-26 15:23] palemieux commented on #238
It has to insert explicit `<br>` elements using JS to determine line breaks at time of rendering.

The issue here is that TTML2 does not explicitly supports `ebutts:multiRowAlign`, but instead uses a construct, which, when mapped to CSS, does not yield the expected outcome.

Are you suggesting that authors must use explicit line breaks for multi-row align to work?

[2017-05-26 15:30] skynavga commented on #238
@palemieux correct me if I'm wrong, but I think you just said that existing implementations of ebutts:multiRowAlign **do** insert ``<br/>`` in order to work with existing CSS renderers

If that is so, then why couldn't implementations of display="inlineBlock" that use CSS renderers do the same thing? And, if they could, then is there a technical requirement here that TTML2 needs to address with re

[2017-05-26 15:35] palemieux commented on #238
Sure. As suggested in the original comment, at the very least, it should be noted that `display="inlineBlock"` does not in fact behave like `display: inline-block`. It would be good to note how this feature can be used to emulate `ebutts:multiRowAlign` since it is far from a direct mapping.

[2017-05-26 15:40] skynavga commented on #238
On Fri, May 26, 2017 at 9:35 AM, Pierre-Anthony Lemieux <
notifications@github.com> wrote:

I'm still missing something: in what way does tts:display="inlineBlock"
differ from CSS display: inline-block?

Also, since TTX/TTPE do effectively use inline block semantics to implement
ebutts:multiRowAlign, then there is at least one existence proof. So we
have the option to draw on that to craft any nec

[2017-05-26 15:45] palemieux commented on #238
See the example in the original comment. `display: inline-block` does not do what you might it does.

TTPE does not use CSS.

[2017-05-26 16:00] skynavga commented on #221
@palemieux the first paragraph in the initial comment above is not quite correct: in particular, the language in XSL-FO 7.29.1 states:

This must be interpreted in the context of the use of direction in combination with the unicode-bidi property (in XSL-FO/CSS) with inline elements. In this case, the following original language from CSS (also cited by XSL-FO) applies:

So I think no action is requ

[2017-05-26 16:09] skynavga commented on #238
On Fri, May 26, 2017 at 9:45 AM, Pierre-Anthony Lemieux <
notifications@github.com> wrote:

I take that to mean that existing CSS implementations do something (that is
not specified by CSS) that is counter to what one might expect (and that
isn't based on CSS specification language).

Also, since TTX/TTPE do effectively use inline block semantics to implement

You said

It would be good to note ho

[2017-05-26 17:10] #220 closed

[2017-05-26 17:15] skynavga commented on #215
Closing this issue as works for me since:

1. the proposed change does not result in any semantic or behavioral change;
2. the proposed change is inconsistent with the many other cases of using a proxy value for defining equivalence behavior, which allows for better abstraction levels in the specification.

[2017-05-26 19:15] palemieux commented on #221
Yes, `tts:writingMode` applies only to region but is _inherited_ down to inline elements, so, on a given element, `tts:direction` should override `tts:writingMode` only if `tts:direction` is specified.

[2017-05-26 19:31] skynavga commented on #221
On Fri, May 26, 2017 at 1:15 PM, Pierre-Anthony Lemieux <
notifications@github.com> wrote:

tts:writingMode is not an inherited property, even though its semantic
effects (having been applied to a region) dictate the applicable block and
inline progression directions of content elements assigned to that region;
just think of direction this way:

   - on a p, it sets the default embedding level for

[2017-05-26 19:45] palemieux commented on #221
Right! So yes, _if tts:writingMode is specified on region, then the computed value of tts:direction on that region, if not explicitly specified, is set to the direction implied by the computed value of tts:writingMode on that region_.

[2017-05-26 19:50] palemieux commented on #221
... although even though `tts:writingMode` is not inherited, it can be specified anywhere, so the text probably needs to say: _if tts:writingMode is specified on an element, then the computed value of tts:direction on that element, if not explicitly specified, is set to the direction implied by the computed value of tts:writingMode on that region_

[2017-05-26 19:51] skynavga commented on #221
On Fri, May 26, 2017 at 1:45 PM, Pierre-Anthony Lemieux <
notifications@github.com> wrote:

you are suggesting with this language?

[1]
https://github.com/w3c/ttml2/pull/338/files#diff-5ac39ab39265717d36dfd789d254ce1aR8837

[2017-05-26 19:55] skynavga commented on #221
On Fri, May 26, 2017 at 1:50 PM, Pierre-Anthony Lemieux <
notifications@github.com> wrote:

which it does not apply is completely ignored.

[2017-05-26 19:57] palemieux commented on #221
Where does it say that? I am curious.

[2017-05-27 21:32] #224 closed

[2017-05-27 23:21] skynavga commented on #145
In the terms specified under [1], an intermediate document **does** retain a ``<tt>`` element. Therefore, there is no substantive problem with respect to the style resolution process or region and layout presentation semantics. The only issue here is how to specify the concrete, external ISD document syntax [2] in a manner that reflects the nominal retention of ``<tt>``. One way to accomplish this

[2017-05-28 01:31] #145 closed

[2017-05-28 01:51] #191 closed

[2017-05-28 05:14] skynavga commented on #146
It seems like the original point of this issue, namely, that inline block semantics are unusual, is non-actionable. Note that we have already removed the automatic semantics for upgrading a span to inline block, which now must be done explicitly with ``tts:display="inlineBlock"``, about which see #297.

Therefore, I am closing this as works for me. If someone wants to propose some informative lang

[2017-05-28 05:14] #146 closed

[2017-05-28 06:00] skynavga commented on #237
@palemieux just want to confirm that the bottom codepen example is as it should appear, i.e., with both a green and red padding at end of bottom line?

[2017-05-28 18:42] skynavga commented on #237
I am presently considering a solution that involves introducing a ``tts:boxDecorationBreak`` attribute with values ``{slice,clone,cloneMostNested}``, where ``cloneMostNested`` is the default initial value (rather than ``clone``). To make implementations easier, I would require that the default initial value semantics be required to support a new #padding-inline designator that features padding on

[2017-05-28 23:16] skynavga commented on #237
Ended up using ``tts:inlineAreaBreak`` for consistency with existing TTML terminology based on XSL-FO areas rather than CSS boxes.

[2017-05-28 23:51] #293 closed

[2017-05-28 23:52] #319 closed

[2017-05-28 23:57] #133 closed

[2017-05-29 00:01] #228 closed

[2017-05-29 00:07] skynavga commented on #189
Lacking a PR, I am taking this off my work list. If a PR is posted, then please restore to my list.

[2017-05-29 00:08] skynavga commented on #128
Lacking a PR, I am taking this off my work list. If a PR is posted, then please restore to my list. Alternatively, please suggest specific clarifications I can address via editorial notes and I will create a PR accordingly.

[2017-05-29 21:35] #221 closed

[2017-05-29 21:40] skynavga commented on #128
Changing this issue to the question "how to conditionalize styles?". Since style vocabulary is already subject to @condition usage, what remains is to clarify how this is done and any special semantics that need to be defined, such as whether style chaining is broken when a style element's @condition evaluates to false.

[2017-05-30 03:20] skynavga commented on #128
A few comments on https://github.com/w3c/ttml2/issues/128#issuecomment-301333820 above:

* the expression ``parameter('high_contrast')='true'`` is not only invalid but is also poorly expressed; it is invalid because the equals operator is ``==`` and not ``=`` (the latter is not a valid operator in the condition expression language); it is poorly expressed because it is not necessary to compare the

[2017-05-30 13:49] nigelmegitt commented on #215
Just reviewing this issue closure: it appears that the original wording from when the issue was opened no longer exists in the current ED. However, the current wording states that `"auto"` is treated as `"auto auto"`, and then under `<measure>`, `"auto"` here is treated as `"available"` which clearly specifies a size less the containing element's border and padding; however numerical measures do n

[2017-05-30 14:28] skynavga commented on #215
There is no question on intent: extent on region corresponds to border rectangle, which includes padding rectangle, which includes content rectangle. If that's not what the words say, we need to fix it.

[2017-05-30 14:28] nigelmegitt commented on #146
Thanks @skynavga I think making inlineBlock semantics require an explicit setting means this works for me too.

[2017-05-30 14:35] nigelmegitt commented on #215
@skynavga You do have an editorial note to address ambiguity between "content region" and "region" that could be applicable here.

From [`tts:extent`](https://w3c.github.io/ttml2/spec/ttml2.html#style-attribute-extent):

...

Then in [`<measure>`](https://w3c.github.io/ttml2/spec/ttml2.html#style-value-measure):

For ipd, the numeric value equal to the ipd of the parent containing block's ipd less

[2017-05-30 15:03] nigelmegitt commented on #237
Thanks @skynavga this makes sense to me. On the codepen I see no red on it at all, so not sure about your question, but yes, the bottom example is correct, i.e. the most nested (green) background is cloned but not the black background of the less nested ancestor element.

[2017-05-30 15:35] skynavga commented on #237
It appears that @palemieux has updated the codepen examples, as there was previously a cloned red padding that appeared at the end of the second line of the third example (now merged into the second example).

[2017-05-31 03:25] skynavga commented on #168
After further consideration, I've decided to adopt option 2 from the initial comment for this issue, about which see PR #350. I also added tts:disparity to the short list of style attributes that invoke this exceptional behavior.

[2017-05-31 07:47] nigelmegitt commented on #128
OK I can accept not adding `set` to `style`, but I see also that the `region` element permits `condition`. Since the `region` attribute can only reference a single region, and there is no chaining of regions, what region applies to an element that specifies a region whose condition evaluates to `false`?

[2017-05-31 08:21] skynavga commented on #128
On Wed, May 31, 2017 at 1:47 AM, Nigel Megitt <notifications@github.com>
wrote:

Multiple conditional explicit inline regions can be specified where the
first one whose condition is not false gets used. Same for walking up the
hierarchy to find first ancestor whose conditionalized region is not false.

[2017-05-31 09:10] nigelmegitt commented on #128
first one whose condition is not false gets used.

I think that's too limiting and syntactically awkward - we should be able to use referential region specification too, but are blocked by [this part of the spec](https://w3c.github.io/ttml2/spec/ttml2.html#layout-attribute-vocabulary):

The easiest (!) solution seems to be to change this to IDREFS and resolve the computed value to the first listed

[2017-05-31 09:33] nigelmegitt opened #351 "Measure 'available' for region extent excludes padding and border."
See https://github.com/w3c/ttml2/pull/348#pullrequestreview-41157239 for background; this arose from review of the pull request to address #215.

When the `auto` keyword is used in `tts:extent` as part of a `<measure>` it resolves to `available` however the specification for `available` excludes border and padding, whereas for `region` elements we wish to include border and padding when we define

[2017-05-31 14:02] nigelmegitt commented on #189
I've opened a PR, and put it back on your list @skynavga .

[2017-05-31 19:27] #200 closed

[2017-05-31 19:32] #213 closed

[2017-05-31 19:36] #237 closed

[2017-06-01 13:03] nigelmegitt commented on #200
I'm not happy with the merge here - it happened mid-discussion.

[2017-06-01 15:17] mikedo opened #357 "Deprecate rather than obsolete ttp:feature value="use"."
Given our decision in #331 to explicitly ensure that TTML1 instance documents remain TTML2 conformant, and not having yet deprecated this feature as a first step, it is not a good idea to obsolete this.  It should deprecated instead.

[2017-06-01 16:26] skynavga commented on #200
[Meeting 06/01/17] GA provided a detailed review of the treatment of font coordinate spaces and how a font's EM square coordinate space is mapped to logical pixels (in TTML terms) used to perform layout processing, which logical pixels are subsequently mapped to display pixels where glyph rasterization is performed. If a font size is specified as a single value, then that value applies to both the

[2017-06-01 16:33] nigelmegitt commented on #200
Thanks for the summary @skynavga . We also touched briefly on the idea of using `rh` for a canonical unit of width in certain circumstances. I would like a clearer example showing how a transformation processor can usefully deal with single value font sizes in the absence of a defined root container region extent as a canonical  value in `rh` units for both height and width. I am happy to try to p

[2017-06-03 16:11] #215 closed

[2017-06-03 16:19] skynavga commented on #302
Completed sub-tasks.

[2017-06-03 16:19] #302 closed

[2017-06-03 16:49] #168 closed

[2017-06-03 17:43] #189 closed

[2017-06-03 20:02] #128 closed

[2017-06-03 23:26] #150 closed

[2017-06-03 23:44] skynavga opened #358 "Incorporate resolutions of additional TTML1 Issues."
This is an umbrella issue to cover the tasks of incorporating resolutions of additional TTML1 issues into TTML2.

- [x] [w3c/ttml1/#191](https://github.com/w3c/ttml1/issues/191) drop mode forumla
- [x] [w3c/ttml1/#192](https://github.com/w3c/ttml1/issues/192) frame rate multiplier defaulting
- [x] [w3c/ttml1/#193](https://github.com/w3c/ttml1/issues/193) implicit duration span
- [x] [w3c/ttml1/#19

[2017-06-04 03:01] skynavga opened #359 "Add example fragments and images."
- ~~ttp:profile (as root element)~~
- [x] tts:backgroundClip
- [x] tts:backgroundExtent
- [x] tts:backgroundImage
- [x] tts:backgroundOrigin
- [x] tts:backgroundPosition
- [x] tts:backgroundRepeat
- [x] tts:fontKerning
- [x] tts:fontVariant
- [x] tts:letterSpacing
- [x] tts:opacity (on content elements)
- [x] tts:position
- [x] tts:textOrientation
- ~~tt:animate~~
- ~~tt:set~~
- ~~isd:isdSequence,

[2017-06-04 03:22] skynavga opened #360 "Update definition of [related media object region]."
Untangle definition from use of document coordinate space.

Editorial note from 2014-12-02.

[2017-06-04 03:25] skynavga opened #361 "Account for media type parameters update (adding codecs)."
Update step (1) below to account for to be defined <code>processorprofiles</code> media type parameter.

Editorial note from 2015-01-14.

[2017-06-04 03:30] skynavga opened #362 "Invoke abort if unsupported processor profile."
Add requirement to invoke abort if unsupported processor profile procedure during profile processing.

Editorial note from 2014-05-21.

[2017-06-04 03:33] skynavga opened #363 "Invoke validation processing procedure."
Add requirement to invoke validation processing procedure. Add and use definition of 'validating processor'.

Editorial note from 2014-05-21.

[2017-06-04 03:39] skynavga opened #364 "Require support for DFXP transformation and presentation profiles."
Add requirement to support DFXP transformation and presentation profiles for TTML1 backward compatibility.

Editorial note from 2014-07-31.

[2017-06-04 19:23] skynavga opened #365 "Reference by designator to internally defined profile."
Handle case where a designator refers to an internally defined profile.

Editorial note from 2014-05-26.

[2017-06-04 19:26] skynavga opened #366 "Account for profile fragment identifiers."
Account for use of profile fragment identifier as a profile designator in 5.2.3.

Editorial note from 2014-05-26.

[2017-06-04 19:28] skynavga opened #367 "Add validation processing procedures."
Add validation processing procedures in 5.2.4.2.

Editorial note from 2014-05-21.

[2017-06-04 19:36] skynavga opened #368 "Specify font loading semantics."
Specify font loading semantics, making as much use as possible (by reference) of material found at
[CSS Font Module Level 3, Font Loading Guidelines](http://www.w3.org/TR/css3-fonts/#font-face-loading).

Editorial note from 2014-11-21.

[2017-06-04 19:53] skynavga opened #369 "Specify block and inline progression dimension percentages."
Specify resolution of percentage values.

Editorial notes from 2014-11-29.

[2017-06-05 00:20] skynavga opened #370 "Add justify to tts:displayAlign."
Add ``justify`` value to support justification in block progression dimension.

Editorial note from 2015-01-14.

[2017-06-05 00:24] skynavga opened #371 "Enhance font selection semantics."
Define ``tts:fontSelectionStrategy`` style property based on
the XSL 1.1 font-selection-strategy property and [TTWG ML thread](http://lists.w3.org/Archives/Public/public-tt/2014Nov/0051.html).

Specify font selection semantics, including how multiple author defined font resources combine
with (local) platform defined font resources to obtain an ordered list of font resources for performing charact

[2017-06-05 00:38] skynavga opened #372 "Constrain certain descendant content in ruby container."
Proscribe the following from appearing in a ruby container:

* use of span children of container that do not specify a ruby style, i.e., that do not play a role in ruby structure; if present, then such span is ignored for presentation purposes;
* use of #PCDATA children of container, baseContainer, and textContainer; i.e., permit #PCDATAA only in base, text, and delimiter; if used, then ignore for

[2017-06-05 00:40] skynavga opened #373 "Add auto to tts:rubyOffset."
Add ``auto`` value and semantics to tts:rubyOffset, making this the default initial value.

Editorial note from 2015-02-18.

[2017-06-05 00:43] skynavga opened #374 "Add auto and outside values to tts:rubyPosition."
Add ``auto`` and ``outside`` values as defined by ``<emphasis-position>`` expressions.

Editorial note from 2015-01-14.

[2017-06-05 00:48] skynavga opened #375 "Add justify to tts:textAlign."
Add ``justify`` value to support justification in inline progression dimension.

Editorial note from 2015-04-06.

[2017-06-05 01:00] skynavga opened #376 "Revise as needed to synchronize with formal ISD syntax."
Review and revise 11.3.1.3 *Intermediate Synchronic Document Construction* as needed to correlate and synchronize with formal ISD syntax definition in Appendix J.

Editorial note from 2014-09-22.

[2017-06-05 01:07] skynavga opened #377 "Time containment semantics for smpte time base."
Indicate that parallel time container semantics always apply in smpte discontinuous mode, and, as such, sequential containment must not be specified, i.e., parallel containment always applies.

Editorial notes from 2015-01-14.

[2017-06-05 01:13] skynavga opened #378 "Merge informative media timing material into Appendix I."
Generalize and rename Appendix I *Time Expression Semantics* to Root Container Region Semantics. Merge informative material from 12.4.1 *Media Timing* into Appendix I, updating this material as needed.

Editorial note from 2016-03-13.

[2017-06-05 01:20] skynavga opened #379 "Add feature restriction and extension qualifications."
Qualify features in standard profiles (Appendix G) to incorporate restriction and extension information.

Editorial note from 2017-05-17.

[2017-06-05 01:22] skynavga opened #380 "Update vocabulary derivation tables in Appendix N."
Add or update element and attribute vocabulary derivation information.

Editorial note from 2015-01-14.

[2017-06-05 01:25] skynavga opened #381 "Add CT708 mapping information."
Either fill in CT708 mapping information in Appendix T or remove this appendix.

Editorial note from 2014-03-06.

[2017-06-05 01:28] skynavga opened #382 "Time containment of out-of-line animations."
Support ability for author to declare whether a referenced out-of-line animation's timing is relative to its animation container element's timing or relative to the referring element's timing. For example, add an ``@animateTimeContainer`` attribute optionally used with the newly defined ``@animate`` attribute, where value can be ``normal`` (the default value) or ``self``, and where ``normal`` mean

[2017-06-05 01:33] skynavga opened #383 "Improve animation value syntax."
Enhance detail of syntax of ``<animation-value>`` in order to prevent appearance of an unquoted or unescaped semicolon, which is used as a delimiter between animation values in ``<animation-value-list>``.

Editorial note from 2014-07-31.

[2017-06-05 14:56] mikedo commented on #381
[Appendix R at this writing] It should probably just defer informatively to SMPTE RP2052-11 "SMPTE Recommended Practice - Conversion from CEA-708 Caption Data to SMPTE-TT" at http://ieeexplore.ieee.org/document/7290363
and
"SMPTE 24TB Technical Report Internet Caption Technical Requirements for SMPTE Timed Text" at https://www.smpte.org/sites/default/files/24TB-FCC-Technical-Requirements-20120908.

[2017-06-05 14:59] nigelmegitt commented on #381
Looks like Appendix T to me in the ED at https://w3c.github.io/ttml2/spec/ttml2.html#cea708-mapping. I would support removing this and publishing any such mapping as a WG Note if someone works on it. The section is intended to be non-normative anyway so there would be no difference in status.

[2017-06-05 17:47] dae-kim commented on #359
@skynavga I'll take:

tts:backgroundClip
tts:backgroundExtent
tts:backgroundImage
tts:backgroundOrigin
tts:backgroundPosition
tts:backgroundRepeat
tts:border
tts:fontKerning
tts:letterSpacing
tts:opacity
tts:position
tts:textOrientation

[2017-06-05 17:52] mikedo opened #384 "Appendix R (streaming) does not represent current practice."
Streaming TTML today consists of short complete TTML documents, not document fragments.  If we want an Appendix like this it should better document how, e.g. FFMPEG, actually works today, not just a theoretical fragmenting mechanism as its example.

And, if we for some reason want to keep this fragmentation example, then the definition of the properties of a progressively decodable document are ov

[2017-06-06 02:04] #381 closed

[2017-06-06 15:16] nigelmegitt commented on #377
Additional to this, explain/clarify that parallel time containment in smpte discontinuous means that a child element can not be active unless its parent element is active, and is orthogonal to computation of element times; in the case of discontinuous marker mode syncbase arithmetic does not apply.

[2017-06-06 15:24] nigelmegitt commented on #384
See also w3c/ttml1#208 which is closely related/equivalent.

I have been involved in conversations about this appendix before in which people have certainly been confused about the best approach, and I would say even misled by TTML1 Appendix L. So I very much support modifying this (actually it has been on my mind to make a pull request to address it for a while).

Another data point is EBU-TT Liv

[2017-06-06 19:44] skynavga commented on #384
Notwithstanding your comments, the approach outlined in TTML1 Appendix L remains a viable option, just not one that has been pursued by industry. I don't mind adding information about the approaches adopted by industry, but I wouldn't want to remove the description of the progressively decodable option. Note that this sort of progressive delivery of XML is implemented in MPEG-7 and other contexts

[2017-06-06 20:23] mikedo commented on #384
I did not say it was not viable.  Lots of random things are viable.  Given the TTML-based deployments today, this Appendix, as crafted, is at best misleading. If it is not modified to include and emphasize current best practice, it should be deleted. I look forward to Nigel's pull request.

[2017-06-06 20:34] skynavga commented on #384
If someone can craft new language to add, then I'll add it; otherwise, this will have to wait a while.

[2017-06-08 16:10] mikedo opened #387 "Clarify/summarize use of foreign namespace elements and attributes."
Since this topic was such a lengthy discussion recently in TTML1 and IMSC, I recommend adding the same final informative summary text that was added to IMSC that can be found in w3c/imsc/issues/213 and the related PR. Perhaps add it to section 4.1 with a forward reference to 14.1.1 where there are examples.

[2017-06-08 19:07] mikedo opened #388 "[Jun 5 ED 10.2.14] example has extent on style rather than region"

[2017-06-08 21:58] skynavga commented on #388
This is permitted, i.e., regions can use either a child ``<style>`` element (as is the case in this example) as well as a ``@style`` to reference ``<style>`` elements specified as children of a preceding ``<styling>`` element. Where and how a style is specified is unrelated to whether the style applies to an element.

[2017-06-08 21:58] #388 closed

[2017-06-08 22:04] mikedo commented on #388
Well, TTXV flagged it as an error, so I believed it :-)

[2017-06-08 22:07] skynavga commented on #388
are you validating against the ttml2 model or imsc1 model? send me the
input test and output log and I'll take a look; it is possible there is an
issue with TTV

On Thu, Jun 8, 2017 at 4:04 PM, Michael A Dolan <notifications@github.com>
wrote:

[2017-06-08 22:29] mikedo commented on #388
IMSC1 (it is also example 8.2.5 in TTML1). Details sent via email.

[2017-06-10 21:24] #375 closed

[2017-06-10 22:13] #331 closed

[2017-06-10 22:14] skynavga commented on #331
Addressed reviewer comments and closing.

[2017-06-10 23:24] skynavga commented on #137
After further consideration, I've determined that we do indeed need to apply display alignment to block level content elements since we allow tts:bpd to be applied to these content elements, and thus block level alignment in BPD is required.

[2017-06-13 17:29] nigelmegitt commented on #156
Adding back on to editor's WR list now that there is a PR.

[2017-06-14 18:04] r12a commented on #274
No. The ruby spec is designed to cope with pinyin as well as japanese ruby (which may also involve Latin text annotations).

See https://w3c.github.io/clreq/#positioning_of_romanization.  Note that centring is the expected default, but also that a certain amount of gap is needed between adjacent annotations.

The CSS ruby spec also suggests a default of centred text for pinyin (see https://drafts.

[2017-06-15 13:25] nigelmegitt commented on #134
I will raise a PR for this to change the examples on `tts:backgroundColor` and `tts:border` so that they are less ambiguous, as per proposals 3 and 4 above.

[2017-06-15 15:16] dae-kim commented on #250
@skynavga @r12a
Since "spaceBetween" and "spaceAround" deal specifically with excess whitespace, perhaps we can add: if there is no excess whitespace, semantics of "center" apply.

[2017-06-15 15:18] dae-kim commented on #254
@nigelmegitt @r12a
During the TTWG call Richard attended, it was stated (agreed?) this issue would be handled the way #332 is resolved.

[2017-06-15 15:26] dae-kim commented on #274
@skynavga  @r12a
I can add an illustration of pinyin with rubyAlign explicitly set to "center".
Since it is reasonable to assume an author using pinyin has a specific display in mind, I don't see any need to alter the prose.

[2017-06-15 16:31] nigelmegitt commented on #134
I've raised a pull request for this as per options 3 and 4 and added back to the Editor's WR list.

[2017-06-17 19:30] #384 closed

[2017-06-17 19:34] #156 closed

[2017-06-17 19:39] #134 closed

[2017-06-17 19:49] #137 closed

[2017-06-17 19:49] #370 closed

[2017-06-17 19:54] #374 closed

[2017-06-27 11:31] nigelmegitt commented on #323
I'm aware that this issue remains open and we don't have a proposed resolution, however as things stand I'm objecting to `ttp:mediaOffset` in its current form for reasons described at length above. However I seem to be the only vocal person who is unhappy with this, so I'm willing to allow it through for wide review and see if anyone else shares my concerns, as long as we also add the orthogonal b

[2017-06-27 14:33] palemieux commented on #323
@nigelmegitt I have objected to this feature [before](https://github.com/w3c/ttml2/issues/125#issuecomment-301981162).

[2017-06-27 16:19] skynavga commented on #323
There is a way to deal with features you don't want to use:

   1. don't use it
   2. prohibit it in a profile

Just because you don't find it useful doesn't mean others won't. Are you
going to object to every other feature you don't want to use?

I simply don't recognize the legitimacy of an argument that this
information must be transported externally to a document. That is an
extremely silly ar

[2017-06-27 17:11] nigelmegitt commented on #323
I think the point here @skynavga is that there are several members who find the mere presence of `ttp:mediaOffset` actively dangerous.

[2017-06-27 19:33] skynavga commented on #323
That's absurd.

On Tue, Jun 27, 2017 at 11:11 AM, Nigel Megitt <notifications@github.com>
wrote:

[2017-06-28 08:23] nigelmegitt commented on #323
Regardless of how absurd you may think it is @skynavga the fact is that we have at least 2 members of the group objecting, so from a process perspective alone we need to address this.

So far I have probably been the most vocal in explaining my reasons for objecting, and I've not seen anything yet that addresses those reasons, for example a more clearly defined semantic, a use case, text that addr

[2017-06-28 10:30] skynavga commented on #323
On Wed, Jun 28, 2017 at 2:23 AM, Nigel Megitt <notifications@github.com>
wrote:

I have no idea why anyone would think it is dangerous. What is your
rationale? Please contrast such a rationale with ttp:frameRate.

That can be easily remedied.

[2017-06-28 10:40] nigelmegitt commented on #323
You're asking me to repeat things that are detailed at length in this issue already, for example at https://github.com/w3c/ttml2/issues/323#issuecomment-303989905 where I point out that `ttp:frameRate` relates to the time expressions within the document instance, and are arithmetically independent of the frame rate of any related media, whereas `ttp:mediaOffset` is expressing a relationship betwee

[2017-06-29 00:40] skynavga commented on #323
On Wed, Jun 28, 2017 at 4:40 AM, Nigel Megitt <notifications@github.com>
wrote:

I am operating under the premise that for media and continuous smpte mode
time bases, the following hold:

   1. there is a known related media object, and the document was
   explicitly authored based on knowledge of the timeline of this related
   media object;
   2. at present (in TTML1), there is no defined relati

[2017-06-29 19:09] skynavga commented on #195
Closing this with merge of audio related feature designators. Regarding interpolation calculation mode, please open a new issue if new functionality is required.

[2017-06-29 19:09] #195 closed

[2017-06-30 11:58] nigelmegitt commented on #323
Addressing the points where we have not yet converged:

There is indeed a defined relationship: the origin of the media timeline in the document is identical to the origin of the related media object's timeline.

I think you're referring to the final note in [TTML1 §N.2](https://www.w3.org/TR/ttml1/#time-expression-semantics-media):

Knowledge of whether or not this assumption holds is in the docu

[2017-07-06 11:05] nigelmegitt opened #397 "Error in HLG HDR appendix step 8"
Step 8 of appendix Q.2 Hybrid Log-Gamma HDR currently says (third line):

The superscript `5b` at the end is a transcription error from BT.2100, in which the 5b is a footnote reference (in an equation!).

The line should be:

i.e. the superscript `5b` needs to be removed.

[2017-07-06 11:25] nigelmegitt commented on #397
Here is the updated submission document to the one attached previously at https://github.com/w3c/ttml2/issues/233#issuecomment-296168903 with the bug fixed there too:

[SimpleConversion_sRGBtoHLG.pdf](https://github.com/w3c/ttml2/files/1127676/SimpleConversion_sRGBtoHLG.pdf)

[2017-07-06 12:29] nigelmegitt commented on #397
An additional point here is that in step 8 the line above the one highlighted in the issue is confusing:

This would be clearer if the "if"s the "and"s and the "or"s were separated out better.

[2017-07-06 12:52] nigelmegitt commented on #397
The same issue arises for step 11:

[2017-07-06 13:24] nigelmegitt commented on #397
I see that we have non-aligned syntaxes for the definitions of `clamp` in Q.1 and Q.2; also the formatting in Q.1 doesn't use preformatted blocks for the mathematical expressions, which it should to be aligned. Will throw fixes for that into the PR too.

[2017-07-06 13:39] nigelmegitt commented on #397
PR #398 updated to address the above three additional comments.

[2017-07-07 10:27] nigelmegitt opened #399 "Add support for font variation settings"
Raising this as a placeholder for a possible future requirement, maybe on TTML2 or a future version. I have had recent internal feedback from BBC that we may need this feature.

Adding support for font variation settings, i.e. directing the presentation processor to set particular OpenType/TrueType font variation settings can be helpful. The specific example that has arisen is whether to use propo

[2017-07-07 11:34] nigelmegitt opened #400 "Feedback on HDR compositing"
Filing on behalf of Lars Haglund of SVT, who asked me to send this on his behalf (I have slightly edited it to make it more applicable as an issue on this repo but kept the substantive comments untouched):

SVT has not been involved in any W3C-work regarding subtitles, but has looked at the HDR compositing section in TTML2 (i.e. W3C’s initial work on timed text markup which will be used for UHDTV

[2017-07-07 22:37] dae-kim commented on #254
@nigelmegitt
Given https://github.com/w3c/ttml2/issues/254#issuecomment-308770557, I suggest we close.

[2017-07-07 22:38] dae-kim commented on #248
@nigelmegitt @skynavga
Agree with https://github.com/w3c/ttml2/issues/248#issuecomment-301921911.
Suggest we close.

[2017-07-07 22:43] dae-kim commented on #255
@nigelmegitt
Original comment seems to suggest an author intends ruby to be displayed inline as a sequence of parenthesized text. This can be done and does not need the use of ruby attributes.

Given that Japanese subtitle authors and consumers do not expect this type of functionality, I suggest we close as non-issue.

[2017-07-07 22:44] dae-kim commented on #258
@nigelmegitt
Given that Japanese subtitle authors and consumers do not expect this type of functionality, I suggest we close as non-issue.

[2017-07-10 10:01] nigelmegitt commented on #254
@dae-kim are you referring to your own comment where you're not sure that there was agreement as evidence that we should close this? You may well be right, however I'd be happier if @r12a could answer my question to him in https://github.com/w3c/ttml2/issues/254#issuecomment-304304996 in which I explicitly ask if the resolution for #332 addresses this issue.

[2017-07-10 10:06] nigelmegitt commented on #248
Reading back through this thread it seems that there are existing practices for "auto" in Lambda CAP and CSS that differ from each other. TTML2 currently adopts the Lambda CAP default but provides a mechanism to specify a different behaviour.

There's some willingness to add a note calling out this case. I would favour adding such a note as a resolution hopefully that will satisfy @r12a , if it in

[2017-07-10 10:31] nigelmegitt commented on #255
@dae-kim I'd be happy to have clarification on this from @r12a but I think there may be a misunderstanding:

... I wonder if @r12a may have misunderstood the options currently available for the equivalents of CSS styling of Ruby markup in TTML2. Whereas in CSS parenthesis can be generated using CSS (see [CSS Ruby Level 1 Appendix A.3](https://drafts.csswg.org/css-ruby-1/#default-parens) for exampl

[2017-07-10 10:33] nigelmegitt commented on #258
@dae-kim Just so we understand where our basis for this comes from, is your evidence that authors and consumers do not expect this type of functionality only the lack of support for it in Lambda CAP? Or are there other data points we can use to support it?

[2017-07-10 13:46] r12a commented on #254
There's no question that it's _possible_ for Mongolian users to produce the behaviour they expect, by adding a setting to the document.

To be honest, however, i still expect that Mongolian authors, who are the natural users of tb-lr mode text, will be disappointed to have to make some effort every time, albeit small, so that the technology works in the way they would expect things to work by defa

[2017-07-10 13:52] nigelmegitt commented on #254
Thanks for that @r12a - and yes, if we adopt the same kind of resolution as we did for #332 then we would need a similar note here.

[2017-07-10 14:16] r12a commented on #248
Let's add a note, and move on.

[2017-07-10 14:18] nigelmegitt commented on #248
Great, thank you @r12a . @dae-kim would you like to draft the note?

[2017-07-10 14:35] r12a commented on #255
Ok, so i guess it's not possible to choose to display ruby over the base or alongside in parentheses by choosing a particular style, rather than changing the markup.

The use cases where this may apply, in the CSS world, include:
1. the text is too small for ruby annotations to be read easily in a particular context
2. a study has shown that dyslexic readers of japanese find the complexity of ruby

[2017-07-10 14:48] nigelmegitt commented on #255
Hmm let's take those one by one.

1. text is too small for ruby annotations to be read easily.

Generally it is the responsibility of the author to make sure that the text size is big enough; however it is the case that for subtitle and caption use, in general, the size is proportional to the size of the video, so if the conditions are right, it could be that the text is too small. This would poss

[2017-07-10 17:34] dae-kim commented on #258
@nigelmegitt Based on conversations with Japanese subtitle companies based in Japan, they have never heard of this requirement. Nor have their customers asked for any such functionality (even as image based subtitles). The general reaction to this feature from the Japanese subtitling industry is, "the rules for media entertainment is different from one for printing material".

[2017-08-09 15:26] nigelmegitt opened #401 "animate attribute element list omits audio"
The list of elements that permit an `animate` attribute, in [§13.2.1](https://www.w3.org/TR/ttml2/#animation-attribute-vocabulary) omits the `<audio>` element, but the `<audio>` element does permit this attribute, according to [§9.1.1](https://www.w3.org/TR/ttml2/#embedded-content-vocabulary-audio).

[2017-08-10 12:38] nigelmegitt opened #402 "Add privacy of preference text as in IMSC."
Feedback from Privacy IG: add the Privacy of Preference text from IMSC 1.0.1 to the Security and Privacy section.

[2017-08-10 12:42] nigelmegitt opened #403 "Security and privacy re external resources"
Privacy IG feedback: add text in similar to the IMSC 1.0.1 section on security and privacy relating to external image fetching. Warn/inform that an implementation that does just-in-time loading of external images, say, may give information about media consumption progress to the origin.

[2017-08-10 12:43] nigelmegitt opened #404 "Reference CORS, Fetch etc"
Privacy IG feedback: even though no fetch semantics are defined in TTML2, consider (especially for the security and privacy section) adding informative references to CORS/Fetch: presumably implementations should only be able to fetch remote resources from an origin permitted by whoever served the TTML document.

[2017-08-10 12:44] nigelmegitt opened #405 "Privacy review umbrella issue"
From the Privacy IG meeting [2017-07-27](https://www.w3.org/2017/07/27-privacy-minutes.html):

* [x] #402 Add to privacy section the Privacy of Preference text as in IMSC
* [x] #403 Add to privacy section text to explain that implementations that load external resources on demand just prior to their presentation time may give information about media consumption to the origin - see IMSC 1.0.1 secti

[2017-08-10 12:47] nigelmegitt opened #406 "Add equivalent CSS properties to style attributes"
CSS WG and TAG review feedback: semantics defined only in terms of XSL-FO should be replaced with CSS semantics where possible; if similar but different semantics are available in CSS properties mention them at least informatively.

Use the most recent CSS Snapshot as the source of usable CSS property definitions. This is currently https://www.w3.org/TR/css-2017/

[2017-08-17 16:03] r12a commented on #253
Thank you for considering this issue. The i18n WG is now closing this issue in its review tracker.

[2017-08-17 16:06] r12a commented on #261
Thank you for considering this issue. The i18n WG is now closing the pointer to this issue in its review tracker.

[2017-08-17 16:08] r12a commented on #254
Please let us know if/when you have added the note referred to above, and we will close the pointer to this issue in our review tracker. Thanks.

[2017-08-17 16:09] r12a commented on #248
Please let us know if/when you have added the note referred to above, and we will close the pointer to this issue in our review tracker. Thanks.

[2017-08-17 16:12] r12a commented on #263
I believe this has been answered satisfactorily. Thank you. The i18n WG is now closing the pointer to this issue in its review tracker.

[2017-08-17 16:14] r12a commented on #258
Based on the information that this aspect of jlreq is not supported for TTML in Japan at the moment, the i18n WG is now closing the pointer to this issue in its review tracker. Thank you.

[2017-08-17 16:15] r12a commented on #269
Thank you for considering this issue. The i18n WG is now closing the pointer to this issue in its review tracker.

[2017-08-17 16:15] r12a commented on #256
Thank you for considering this issue. The i18n WG is now closing the pointer to this issue in its review tracker.

[2017-08-17 16:16] r12a commented on #270
Thank you for considering this issue. The i18n WG is now closing the pointer to this issue in its review tracker.

[2017-08-21 15:12] skynavga commented on #261
I18N WG has accepted and closed this issue in their review tracker.

[2017-08-21 15:12] #261 closed

[2017-08-21 15:13] skynavga commented on #254
I18N WG has accepted and closed this issue in their review tracker.

[2017-08-21 15:14] skynavga commented on #254
Got ahead of myself here, so reopening to address adding a note as mentioned above.

[2017-08-21 15:16] skynavga commented on #263
I18N WG has accepted and closed this issue in their review tracker.

[2017-08-21 15:16] #263 closed

[2017-08-21 15:23] skynavga commented on #258
In the future, a new keyword could be added to support this behavior, e.g., `shiftRubyDistributeBase`, or perhaps `shiftRubyDistribute` as a short hand. In any case, the I18N WG has closed this issue in their review tracker. I am marking as `works for me` and closing at this time.

[2017-08-21 15:23] #258 closed

[2017-08-21 15:39] #397 closed

[2017-08-21 16:20] skynavga commented on #271
No response from commenter since May 25 request to provide any further comment; therefore, am closing based on the assumption this issue has been resolved by prior mergers.

[2017-08-21 16:20] #271 closed

[2017-08-23 01:12] skynavga commented on #406
This is not an actionable issue without specific suggested changes. I suggest closing this with no action, other than perhaps a "we will take under advisement" message to TAG.

[2017-08-23 01:20] #401 closed

[2017-08-23 01:41] #254 closed

[2017-08-23 01:43] skynavga commented on #254
@r12a a note as described above has been merged to resolve this issue; please inform us of disposition in I18N WG

[2017-09-12 12:49] nigelmegitt opened #410 "Reference CSS background-color semantic"
Part of umbrella #406

Current semantic based on: XSL 1.1 §7.8.2 https://www.w3.org/TR/2006/REC-xsl11-20061205/#background-color
Current CSS snapshot version of this semantic: CSS 2.1 §14.2.1 https://www.w3.org/TR/CSS2/colors.html#background-properties

The XSL spec references the CSS spec to define the semantic.

Action to take: replace XSL spec reference with CSS spec reference

[2017-09-12 12:50] nigelmegitt opened #411 "Reference CSS background-image semantic"
Part of umbrella #406

Current semantic based on: XSL 1.1 §7.8.3 https://www.w3.org/TR/2006/REC-xsl11-20061205/#background-image
Current CSS snapshot version of this semantic: CSS 2.1 §14.2.1 https://www.w3.org/TR/CSS2/colors.html#propdef-background-image

The XSL spec references the CSS spec to define the semantic.

Action to take: replace XSL spec reference with CSS spec reference

[2017-09-12 12:57] nigelmegitt opened #412 "Reference CSS background-repeat semantic"
Part of umbrella #406

Current semantic based on: XSL 1.1 §7.8.4 https://www.w3.org/TR/2006/REC-xsl11-20061205/#background-repeat
Current CSS snapshot version of this semantic: CSS 2.1 §14.2.1 https://www.w3.org/TR/CSS2/colors.html#propdef-background-repeat

The XSL spec references the CSS spec to define the semantic.

Action to take: replace XSL spec reference with CSS spec reference

[2017-09-12 12:59] nigelmegitt opened #413 "Reference CSS color semantic"
Part of umbrella #406

Current semantic based on: XSL 1.1 §7.18.1 https://www.w3.org/TR/2006/REC-xsl11-20061205/#color
Current CSS snapshot version of this semantic: CSS 2.1 §14.1 https://www.w3.org/TR/CSS2/colors.html#colors

The XSL spec references the CSS spec to define the semantic.

Action to take: replace XSL spec reference with CSS spec reference.

[2017-09-12 13:02] nigelmegitt opened #414 "Reference CSS direction semantic"
Part of umbrella #406

Current semantic based on: XSL 1.1 §7.29.1 https://www.w3.org/TR/2006/REC-xsl11-20061205/#direction
Current CSS snapshot version of this semantic: CSS Writing Modes Level 3 §2.1 https://www.w3.org/TR/css-writing-modes-3/#direction

The XSL spec references an earlier CSS spec to define the semantic.

Action to take: replace XSL spec reference with CSS snapshot spec reference.

[2017-09-12 13:59] nigelmegitt opened #415 "Reference CSS justify-content semantic"
Part of umbrella #406

Current semantic based on: XSL 1.1 §7.14.4 https://www.w3.org/TR/2006/REC-xsl11-20061205/#display-align
Current CSS snapshot version of a similar semantic: CSS Flexible Box Layout Module Level 1 §8.2 https://www.w3.org/TR/css-flexbox-1/#justify-content-property

The XSL spec defines this semantic without reference to CSS. CSS has no simple mapping here, since this functional

[2017-09-12 14:04] nigelmegitt opened #416 "Reference CSS font-family semantic"
Part of umbrella #406

Current semantic based on: XSL 1.1 §7.9.2 https://www.w3.org/TR/2006/REC-xsl11-20061205/#font-family
Current CSS snapshot version of this semantic: CSS 2.1 §15.3 https://www.w3.org/TR/2011/REC-CSS2-20110607/fonts.html#font-family-prop

The XSL spec references an earlier CSS spec to define the semantic.

Action to take: replace XSL spec reference with CSS snapshot spec refere

[2017-09-12 14:07] nigelmegitt commented on #371
In line with #406 and the general feedback to use CSS as the basis of semantics where possible I propose using CSS Fonts Level 3 https://www.w3.org/TR/css-fonts-3/ as the basis for this semantic if at all possible. For example see §5.3 Cluster Matching in that document.

CSS Fonts Level 3 is part of the CSS 2017 Snapshot.

[2017-09-12 14:09] nigelmegitt opened #417 "Reference CSS font-size semantic"
Part of umbrella #406

Current semantic based on: XSL 1.1 §7.9.4 https://www.w3.org/TR/2006/REC-xsl11-20061205/#font-size
Current CSS snapshot version of this semantic: CSS 2.1 §15.7 https://www.w3.org/TR/2011/REC-CSS2-20110607/fonts.html#propdef-font-size

The XSL spec references an earlier CSS spec to define the semantic.

Action to take: replace XSL spec reference with CSS snapshot spec referen

[2017-09-12 14:10] nigelmegitt opened #418 "Reference CSS font-style semantic"
Part of umbrella #406

Current semantic based on: XSL 1.1 §7.9.7 https://www.w3.org/TR/2006/REC-xsl11-20061205/#font-style
Current CSS snapshot version of this semantic: CSS 2.1 §15.4 https://www.w3.org/TR/2011/REC-CSS2-20110607/fonts.html#font-styling

The XSL spec references an earlier CSS spec to define the semantic.

Action to take: replace XSL spec reference with CSS snapshot spec reference.

[2017-09-12 14:12] nigelmegitt opened #419 "Reference CSS font-weight semantic"
Part of umbrella #406

Current semantic based on: XSL 1.1 §7.9.9 https://www.w3.org/TR/2006/REC-xsl11-20061205/#font-weight
Current CSS snapshot version of this semantic: CSS 2.1 §15.6 https://www.w3.org/TR/2011/REC-CSS2-20110607/fonts.html#propdef-font-weight

The XSL spec references an earlier CSS spec to define the semantic.

Action to take: replace XSL spec reference with CSS snapshot spec ref

[2017-09-12 14:16] nigelmegitt opened #420 "Reference CSS line-height semantic"
Part of umbrella #406

Current semantic based on: XSL 1.1 §7.16.4 https://www.w3.org/TR/2006/REC-xsl11-20061205/#line-height
Current CSS snapshot version of this semantic: CSS 2.1 §10.8 https://www.w3.org/TR/2011/REC-CSS2-20110607/visudet.html#propdef-line-height

The XSL spec references an earlier CSS spec to define the semantic.

Action to take: replace XSL spec reference with CSS snapshot spec

[2017-09-12 14:18] nigelmegitt opened #421 "Reference CSS overflow semantic"
Part of umbrella #406

Current semantic based on: XSL 1.1 §7.21.2 https://www.w3.org/TR/2006/REC-xsl11-20061205/#overflow
Current CSS snapshot version of this semantic: CSS 2.1 §11.1.1 https://www.w3.org/TR/2011/REC-CSS2-20110607/visufx.html#overflow

The XSL spec references an earlier CSS spec to define the semantic.

Action to take: replace XSL spec reference with CSS snapshot spec reference.

[2017-09-12 14:45] nigelmegitt opened #422 "Reference CSS padding semantic"
Part of umbrella #406

Current semantic based on: XSL 1.1 §7.31.15 https://www.w3.org/TR/2006/REC-xsl11-20061205/#padding with writing mode relative padding values

Current CSS snapshot version of this semantic: CSS 2.1 §8.4 https://www.w3.org/TR/2011/REC-CSS2-20110607/box.html#padding-properties

The XSL spec references an earlier CSS spec to define the semantic. CSS does not use writing mode and

[2017-09-12 15:32] skynavga commented on #410
This is a frivolous and unnecessary change. I will not make it.

[2017-09-12 15:32] skynavga commented on #411
This is a frivolous and unnecessary change. I will not make it.

[2017-09-12 15:33] skynavga commented on #413
This is a frivolous and unnecessary change. I will not make it.

[2017-09-12 15:33] skynavga commented on #414
This is a frivolous and unnecessary change. I will not make it.

[2017-09-12 15:34] skynavga commented on #415
No.

[2017-09-12 15:34] skynavga commented on #416
This is a frivolous and unnecessary change. I will not make it.

[2017-09-12 15:35] skynavga commented on #417
This is a frivolous and unnecessary change. I will not make it.

[2017-09-12 15:35] skynavga commented on #418
This is a frivolous and unnecessary change. I will not make it.

[2017-09-12 15:35] skynavga commented on #419
This is a frivolous and unnecessary change. I will not make it.

[2017-09-12 15:36] skynavga commented on #420
No.

[2017-09-12 15:36] skynavga commented on #421
This is a frivolous and unnecessary change. I will not make it.

[2017-09-12 15:37] skynavga commented on #422
No.

[2017-09-12 15:38] skynavga commented on #406
Please do not create any more issues requesting that we change references from XSL to CSS. We do not have agreement on such an action, and I will actively oppose it.

[2017-09-12 15:49] nigelmegitt opened #423 "Reference CSS text-align semantic"
Part of umbrella #406

Current semantic based on: XSL 1.1 §7.16.9 https://www.w3.org/TR/2006/REC-xsl11-20061205/#text-align
Current CSS snapshot version of this semantic: CSS 2.1 §16.2 https://www.w3.org/TR/2011/REC-CSS2-20110607/text.html#alignment-prop

The XSL spec references an earlier CSS spec to define the semantic. TTML also references XSL text-align-last, and requires it to be set to "rela

[2017-09-12 15:54] skynavga commented on #423
This is a frivolous and unnecessary change. I will not make it.